Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

feat(api/routes): implement calculate_flavor_usage_for_user_simple
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/openstack): add function get_servers_of_project
  api/src/openstack.rs
Labels: api, src

feat(wire,lib): add FlavorGroupUsageParams
  lib/src/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: wire, lib, src

fix(api/resources): fix tracing for flavor_group_usage function
  api/src/routes/resources/flavor_group/usage.rs
Labels: api, src

feat(api/routes): add function structure for flavor-usage endpoint
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

fix(api/routes): return Vec<FlavorUsage...>
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(lib,wire): add FlavorUsageParams
  lib/src/resources/flavor.rs
  wire/src/resources/flavor.rs
Labels: wire, lib, src

feat(api/routes): implement calculate_flavor_usage_for_project_simple
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/resources): add bare flavor_usage endpoint
  api/src/routes/resources/flavor/mod.rs
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/resources): add bare flavor_group_usage endpoint
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/resources/flavor_group/usage.rs
Labels: api, src

feat(api/routes): implement calculate_flavor_usage_for_all_simple
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): implement calculate_flavor_usage_for_*_aggregate functions
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): parallelize flavor-usage calculation
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): improve authorization check on flavor-usage endpoint
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(wire/user): implement From<UserDetailed> for User
  wire/src/user/user.rs
Labels: wire, src

docs(api/routes): remove flavor-usage from endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

fix(api/routes/resources): remove debug print
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/resources): add bare flavor_usage endpoint
  api/src/routes/resources/flavor/mod.rs
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): implement calculate_flavor_usage_for_project_simple
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

docs(api/routes): remove flavor-usage from endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

fix(api/resources): fix tracing for flavor_group_usage function
  api/src/routes/resources/flavor_group/usage.rs
Labels: api, src

fix(api/routes): return Vec<FlavorUsage...>
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): improve authorization check on flavor-usage endpoint
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): implement calculate_flavor_usage_for_user_simple
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/resources): add bare flavor_group_usage endpoint
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/resources/flavor_group/usage.rs
Labels: api, src

feat(api/routes): implement calculate_flavor_usage_for_*_aggregate functions
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): implement calculate_flavor_usage_for_all_simple
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): add function structure for flavor-usage endpoint
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/routes): parallelize flavor-usage calculation
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

refactor(wire,lib): rename FlavorUsage to FlavorUsageSimple
  lib/src/resources/flavor.rs
  wire/src/resources/flavor.rs
Labels: wire, lib, src

feat(api/openstack): add function get_servers_of_project
  api/src/openstack.rs
Labels: api, src

feat(wire/user): implement From<UserDetailed> for User
  wire/src/user/user.rs
Labels: wire, src

feat(wire,lib): add FlavorGroupUsageParams
  lib/src/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: wire, lib, src

feat(lib,wire): add FlavorUsageParams
  lib/src/resources/flavor.rs
  wire/src/resources/flavor.rs
Labels: wire, lib, src

fix: use enum for user_class
  Cargo.lock
  api/src/authentication.rs
  api/src/database/accounting/server_state.rs
  api/src/database/pricing/flavor_price.rs
  api/src/database/user/project.rs
  api/src/database/user/user.rs
  api/src/routes/accounting/server_cost/get.rs
  api/src/routes/pricing/flavor_price/modify.rs
  api/src/routes/user/import.rs
  api/src/routes/user/project/create.rs
  api/src/routes/user/project/list.rs
  api/src/routes/user/project/modify.rs
  api/src/startup.rs
  cli/src/pricing.rs
  cli/src/user/project.rs
  lib/src/pricing.rs
  lib/src/user/project.rs
  test/src/lib.rs
  test/tests/budgeting/user_budget/modify.rs
  test/tests/pricing/flavor_price/delete.rs
  test/tests/user/project/create.rs
  test/tests/user/project/delete.rs
  test/tests/user/project/list.rs
  test/tests/user/project/modify.rs
  wire/Cargo.toml
  wire/src/error.rs
  wire/src/pricing.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, api, lib, cli, dep, src, test

refactor(wire/user): move UserClass to user/project submodule
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, src

fix: use enum for user_class
  Cargo.lock
  api/src/authentication.rs
  api/src/database/accounting/server_state.rs
  api/src/database/pricing/flavor_price.rs
  api/src/database/user/project.rs
  api/src/database/user/user.rs
  api/src/routes/accounting/server_cost/get.rs
  api/src/routes/pricing/flavor_price/modify.rs
  api/src/routes/user/import.rs
  api/src/routes/user/project/create.rs
  api/src/routes/user/project/list.rs
  api/src/routes/user/project/modify.rs
  api/src/startup.rs
  cli/src/pricing.rs
  cli/src/user/project.rs
  lib/src/pricing.rs
  lib/src/user/project.rs
  test/src/lib.rs
  test/tests/budgeting/user_budget/modify.rs
  test/tests/pricing/flavor_price/delete.rs
  test/tests/user/project/create.rs
  test/tests/user/project/delete.rs
  test/tests/user/project/list.rs
  test/tests/user/project/modify.rs
  wire/Cargo.toml
  wire/src/error.rs
  wire/src/pricing.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, api, lib, cli, dep, src, test

refactor(wire/user): move UserClass to user/project submodule
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, src

feat(api/database/pricing): extend flavor_price_list
  api/src/database/pricing/flavor_price.rs
  api/src/routes/pricing/flavor_price/list.rs
  cli/src/pricing.rs
  lib/src/pricing.rs
  wire/src/pricing.rs
Labels: wire, api, lib, cli, src

test(pricing/flavor_price): test flavor_price_list
  test/src/lib.rs
  test/tests/pricing/flavor_price/list.rs
  test/tests/pricing/flavor_price/mod.rs
Labels: src, test
