Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: api, lib, cli, dep, src, test, db, sh, ci

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: "api/*"

lib:
- changed-files:
  - any-glob-to-any-file: "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file: "cli/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

feat(api/database): add select_flavor_quota_by_user_and_group_from_db
  api/src/database/quota/flavor_quota.rs
Labels: src

chore(sqlx): update offline query data
  .sqlx/query-3cbc532482f6c55accc1bfd84c45aae4b6a34d958b70c135430e1ebb11b7168b.json
Labels: none

style(api/resources): use variable in format string in calculate_flavor_usage_for_user_simple
  api/src/routes/resources/flavor/usage.rs
Labels: src

feat(lib,wire): add FlavorQuotaCheckParams
  lib/src/quota/flavor_quota.rs
  wire/src/quota.rs
Labels: src

feat(api/resources): make flavor_group::usage module public
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/resources/mod.rs
Labels: src

docs(api/quota): add todo comment regarding caching
  api/src/routes/quota/flavor_quota/check.rs
Labels: src

feat(api/quota): implement flavor_quota_check endpoint
  api/src/routes/quota/flavor_quota/check.rs
Labels: src

style(wire/user): use variable inside format string in UserClass.fmt
  wire/src/user/project.rs
Labels: src

feat(api/quota): add bare flavor_quota_check endpoint
  api/src/routes/quota/flavor_quota/check.rs
  api/src/routes/quota/flavor_quota/mod.rs
Labels: src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

style(api): fix minor clippy issues
  api/src/routes/accounting/server_state/import.rs
  api/src/routes/user/project/mod.rs
Labels: src

style(api): fix minor clippy issues
  api/src/routes/accounting/server_state/import.rs
  api/src/routes/user/project/mod.rs
Labels: src

docs(api/routes): remove irrelevant todo
  api/src/routes/mod.rs
Labels: src

test(cli/main): add test check_cli_parser
  cli/src/main.rs
Labels: src

fix(cli/main): use unique short options for global arguments
  cli/src/main.rs
Labels: src

feat(lib): add missing common trait derives to various public structs
  wire/src/accounting/server_consumption.rs
  wire/src/accounting/server_cost.rs
  wire/src/accounting/server_state.rs
  wire/src/budgeting/budget_over_tree.rs
  wire/src/budgeting/project_budget.rs
  wire/src/budgeting/user_budget.rs
  wire/src/error.rs
  wire/src/hello.rs
  wire/src/pricing.rs
  wire/src/quota.rs
  wire/src/resources/flavor.rs
  wire/src/resources/flavor_group.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: src

test(cli/main): add test check_cli_parser
  cli/src/main.rs
Labels: src

test(accounting/server_cost): test server cost endpoints
  test/tests/accounting/mod.rs
  test/tests/accounting/server_cost/get.rs
  test/tests/accounting/server_cost/mod.rs
Labels: test

fix(cli/main): use unique short options for global arguments
  cli/src/main.rs
Labels: src

fix(cli): set global=true for top level cli arguments
  cli/src/main.rs
Labels: src

feat(api/database): add lrz flavor select functions
  api/src/database/resources/flavor.rs
Labels: src

chore(sqlx): update offline query data
  .sqlx/query-3dbe5b332ad59982c3980009c2309cc6cdad8769a06334a055f5bc58379b15a7.json
  .sqlx/query-5628a918194170c20a053f02e6730545e876f57d5fc7a33839422d44b36ba3a4.json
Labels: none

feat(api/resources): allow normal users to get lrz flavors
  api/src/routes/resources/flavor/get.rs
Labels: src

docs(routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

feat(api/resources): allow normal users to get lrz flavors
  api/src/routes/resources/flavor/get.rs
Labels: src

chore(sqlx): update offline query data
  .sqlx/query-3dbe5b332ad59982c3980009c2309cc6cdad8769a06334a055f5bc58379b15a7.json
  .sqlx/query-5628a918194170c20a053f02e6730545e876f57d5fc7a33839422d44b36ba3a4.json
Labels: none

docs(routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

feat(api/database): add lrz flavor select functions
  api/src/database/resources/flavor.rs
Labels: src

feat(api/database): add select lrz flavor-group functions
  api/src/database/resources/flavor_group.rs
Labels: src

chore(sqlx): update offline query data
  .sqlx/query-613f551d429a0907e36b80cc378686a5445a44149a521ee87e470cbc46762911.json
Labels: none

feat(api/resources): allow normal user to get lrz flavor groups
  api/src/routes/resources/flavor_group/get.rs
Labels: src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

feat(api/database): add select lrz flavor-group functions
  api/src/database/resources/flavor_group.rs
Labels: src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

feat(api/resources): allow normal user to get lrz flavor groups
  api/src/routes/resources/flavor_group/get.rs
Labels: src

chore(sqlx): update offline query data
  .sqlx/query-613f551d429a0907e36b80cc378686a5445a44149a521ee87e470cbc46762911.json
Labels: none

feat(api/quota): allow normal user to get own quota
  api/src/routes/quota/flavor_quota/get.rs
Labels: src

docs(routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

docs(routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

feat(api/quota): allow normal user to get own quota
  api/src/routes/quota/flavor_quota/get.rs
Labels: src
