Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

chore(deny): remove old advisory ignore
  .deny.toml
Labels: none

fix(wire/project): guard Type derive on UserClass by sqlx feature
  wire/src/user/project.rs
Labels: wire, src

build(cargo): let machete ignore getrandom
  ui/Cargo.toml
Labels: ui, dep

chore(cargo): bump dioxus from 0.6.3 to 0.7.2
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep

chore(cargo): bump reqwest from 0.12.28 to 0.13.0
  Cargo.lock
  api/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
Labels: api, lib, dep

feat(cli/main): route all calls to rust url by default
  cli/src/main.rs
Labels: cli, src

chore(scripts): update version in build_ui_container.sh
  scripts/build_ui_container.sh
Labels: sh

test(user_budget): fix e2e_lib_admin_cannot_modify_user_budget for start of year
  test/tests/budgeting/user_budget/modify.rs
Labels: test

build(scripts): add --skip-ssl to mariadb commands in init_db.sh
  scripts/init_db.sh
Labels: sh

test(user_budget): fix e2e_lib_admin_cannot_modify_user_budget for start of year
  test/tests/budgeting/user_budget/modify.rs
Labels: test

build(scripts): add --skip-ssl to mariadb commands in init_db.sh
  scripts/init_db.sh
Labels: sh

fix(api/user): set is_active to true in user_import
  api/src/routes/user/import.rs
Labels: api, src

chore(cargo): bump avina-api crate to new v1.0.1
  Cargo.lock
  api/Cargo.toml
Labels: api, dep

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

fix(api/user): set is_active to true in user_import
  api/src/routes/user/import.rs
Labels: api, src

chore(cargo): bump avina-api crate to new v1.0.1
  Cargo.lock
  api/Cargo.toml
Labels: api, dep

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(scripts): update version in build_api_container.sh
  scripts/build_api_container.sh
Labels: sh

feat(wire/user): add UserSync struct
  wire/src/user/user.rs
Labels: wire, src

feat(api/user): add bare user_sync endpoint
  api/src/routes/user/mod.rs
  api/src/routes/user/sync.rs
Labels: api, src

feat(lib/user,cli/user): add user sync call and command
  cli/src/user/user.rs
  lib/src/user/user.rs
Labels: lib, cli, src

docs: add missing colon to all todo comments
  api/src/authentication.rs
  api/src/database/accounting/server_state.rs
  api/src/routes/user/project/create.rs
  api/src/routes/user/user/create.rs
  cli/src/accounting/server_state.rs
  cli/src/budgeting/project_budget.rs
  cli/src/budgeting/user_budget.rs
  cli/src/main.rs
  cli/src/resources/flavor.rs
  cli/src/resources/flavor_group.rs
  cli/src/user/project.rs
  cli/src/user/user.rs
  lib/src/accounting/server_state.rs
  lib/src/budgeting/project_budget.rs
  lib/src/budgeting/user_budget.rs
  lib/src/lib.rs
  lib/src/pricing.rs
  lib/src/quota/flavor_quota.rs
  lib/src/resources/flavor.rs
  lib/src/resources/flavor_group.rs
  lib/src/resources/usage.rs
  lib/src/token.rs
  lib/src/user/project.rs
  lib/src/user/user.rs
  test/src/lib.rs
  wire/src/accounting/server_state.rs
  wire/src/resources/flavor.rs
  wire/src/resources/flavor_group.rs
  wire/src/resources/usage.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, api, lib, cli, src

refactor(api): move AvinaLdap to new ldap module
  api/src/ldap.rs
  api/src/lib.rs
  api/src/routes/user/import.rs
Labels: api, src

refactor(api): move update_user/project_in_db to database module
  api/src/database/user/project.rs
  api/src/database/user/user.rs
  api/src/routes/user/project/modify.rs
  api/src/routes/user/user/modify.rs
Labels: api, src

feat(api/database): add function update_user_role_in_db
  api/src/database/user/user.rs
Labels: api, src

feat(api/user): implement role update in user_sync
  api/src/routes/user/sync.rs
Labels: api, src

feat(api/database): add function update_project_user_class_in_db
  api/src/database/user/project.rs
Labels: api, src

feat(api/user): implement user class update in user_sync
  api/src/routes/user/sync.rs
Labels: api, src

build(mariadb): enable skip ssl in .mariadb.cnf
  .mariadb.cnf
Labels: none

feat(api/ldap): add no default functions to AvinaLdap
  api/src/ldap.rs
Labels: api, src

fix(api/user): use no default AvinaLdap functions in user_sync
  api/src/routes/user/sync.rs
Labels: api, src

fix(api/user): add missing transaction commit in user_sync
  api/src/routes/user/sync.rs
Labels: api, src

docs: add missing colon to all todo comments
  api/src/authentication.rs
  api/src/database/accounting/server_state.rs
  api/src/routes/user/project/create.rs
  api/src/routes/user/user/create.rs
  cli/src/accounting/server_state.rs
  cli/src/budgeting/project_budget.rs
  cli/src/budgeting/user_budget.rs
  cli/src/main.rs
  cli/src/resources/flavor.rs
  cli/src/resources/flavor_group.rs
  cli/src/user/project.rs
  cli/src/user/user.rs
  lib/src/accounting/server_state.rs
  lib/src/budgeting/project_budget.rs
  lib/src/budgeting/user_budget.rs
  lib/src/lib.rs
  lib/src/pricing.rs
  lib/src/quota/flavor_quota.rs
  lib/src/resources/flavor.rs
  lib/src/resources/flavor_group.rs
  lib/src/resources/usage.rs
  lib/src/token.rs
  lib/src/user/project.rs
  lib/src/user/user.rs
  test/src/lib.rs
  wire/src/accounting/server_state.rs
  wire/src/resources/flavor.rs
  wire/src/resources/flavor_group.rs
  wire/src/resources/usage.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, api, lib, cli, src

refactor(api): move update_user/project_in_db to database module
  api/src/database/user/project.rs
  api/src/database/user/user.rs
  api/src/routes/user/project/modify.rs
  api/src/routes/user/user/modify.rs
Labels: api, src

build(mariadb): enable skip ssl in .mariadb.cnf
  .mariadb.cnf
Labels: none

feat(api/user): add bare user_sync endpoint
  api/src/routes/user/mod.rs
  api/src/routes/user/sync.rs
Labels: api, src

feat(api/user): implement role update in user_sync
  api/src/routes/user/sync.rs
Labels: api, src

feat(wire/user): add UserSync struct
  wire/src/user/user.rs
Labels: wire, src

feat(api/database): add function update_project_user_class_in_db
  api/src/database/user/project.rs
Labels: api, src

feat(api/database): add function update_user_role_in_db
  api/src/database/user/user.rs
Labels: api, src
