Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

feat(lib,wire): add BudgetOverTreeParams
  lib/src/budgeting/budget_over_tree.rs
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, lib, src

feat(api/routes): add bare budget-over-tree endpoint
  api/src/routes/budgeting/mod.rs
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(api/routes): add bare budget_over_for_user/project/all functions
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(wire/budgeting): make BudgetOverTreeUser/Project.budget(_id) fields an Option
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, src

feat(api/budgeting): implement budget_over_tree_for_user function
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(lib,wire): add BudgetOverTreeParams
  lib/src/budgeting/budget_over_tree.rs
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, lib, src

feat(api/routes): add bare budget-over-tree endpoint
  api/src/routes/budgeting/mod.rs
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(api/routes): add bare budget_over_for_user/project/all functions
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

docs(wire/budgeting): add todo comments regarding questionable Options
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, src

feat(api/budgeting): implement budget_over_tree_for_project function
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(api/budgeting): implement budget_over_tree_for_all function
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

style(api/budgeting): reorder imports in over_tree module
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

docs(api/budgeting): add todo comments for budget_over_tree functions
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/budgeting): implement budget_over_tree_for_user function
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(wire/budgeting): make BudgetOverTreeUser/Project.budget(_id) fields an Option
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, src

feat(api/budgeting): implement budget_over_tree_for_project function
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

docs(api/budgeting): add todo comments for budget_over_tree functions
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(api/budgeting): implement budget_over_tree_for_all function
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(api/routes): add bare budget_over_for_user/project/all functions
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

docs(wire/budgeting): add todo comments regarding questionable Options
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(lib,wire): add BudgetOverTreeParams
  lib/src/budgeting/budget_over_tree.rs
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, lib, src

style(api/budgeting): reorder imports in over_tree module
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

feat(api/routes): add bare budget-over-tree endpoint
  api/src/routes/budgeting/mod.rs
  api/src/routes/budgeting/over_tree.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/user): add bare user-import endpoint
  api/src/routes/user/import.rs
  api/src/routes/user/mod.rs
Labels: api, src

feat(api/user): only allow admin to use user_import
  api/src/routes/user/import.rs
Labels: api, src

feat(api/user): return default value from user-import endpoint
  api/src/routes/user/import.rs
Labels: api, src

fix(lib/user): correct url for user-import endpoint
  lib/src/user/user.rs
Labels: lib, src

feat(api/openstack): add OpenStack.get_domains function
  api/src/openstack.rs
Labels: api, src

feat(api/openstack): add OpenStack.get_projects function
  api/src/openstack.rs
Labels: api, src

feat(test/lib): setup_test_flavor_price_with_new_flavor_price
  test/src/lib.rs
Labels: src

docs(api/configuration): add todo comment about openstack urls
  api/configuration/base.yaml
Labels: api

feat(api/user): implement user_import function
  api/src/routes/user/import.rs
Labels: api, src

chore(spellcheck): update dictionary
  .spellcheck.dic
Labels: none

feat(api/user): implement user_import function
  api/src/routes/user/import.rs
Labels: api, src

feat(api/openstack): add OpenStack.get_projects function
  api/src/openstack.rs
Labels: api, src

fix(lib/user): correct url for user-import endpoint
  lib/src/user/user.rs
Labels: lib, src

feat(api/user): only allow admin to use user_import
  api/src/routes/user/import.rs
Labels: api, src

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
