Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

fix(api/quota): return new user and flavor group name in flavor_quota_modify
  api/src/routes/mod.rs
  api/src/routes/quota/flavor_quota/modify.rs
Labels: api, src

fix(api/quota): return new user and flavor group name in flavor_quota_modify
  api/src/routes/mod.rs
  api/src/routes/quota/flavor_quota/modify.rs
Labels: api, src

refactor(api/quota): simplify name retrieval in flavor_quota_modify
  api/src/routes/quota/flavor_quota/modify.rs
Labels: api, src

fix(api/accounting): return new names from server_state_modify
  api/src/routes/accounting/server_state/modify.rs
  api/src/routes/mod.rs
Labels: api, src

fix(api/accounting): return new names from server_state_modify
  api/src/routes/accounting/server_state/modify.rs
  api/src/routes/mod.rs
Labels: api, src

refactor(api/quota): simplify name retrieval in flavor_quota_modify
  api/src/routes/quota/flavor_quota/modify.rs
Labels: api, src

feat(api/pricing): return new flavor name from flavor_price_modify
  api/src/routes/mod.rs
  api/src/routes/pricing/flavor_price/modify.rs
Labels: api, src

feat(api/pricing): return new flavor name from flavor_price_modify
  api/src/routes/mod.rs
  api/src/routes/pricing/flavor_price/modify.rs
Labels: api, src

docs(routes): remove budget-over-tree from endpoint todo list
  api/src/routes/budgeting/over_tree.rs
  api/src/routes/mod.rs
Labels: api, src

docs(routes): remove server-cost from endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/database): add select_user_by_openstack_id_from_db
  api/src/database/user/user.rs
Labels: api, src

chore(sqlx): update offline query data
  .sqlx/query-05513ce253efc6f7b247948c78da918f8d1973fe6fb328b9553cd919b5d96b48.json
Labels: none

feat(wire,lib): add FlavorQuotaCheckParams.openstackproject
  lib/src/quota/flavor_quota.rs
  wire/src/quota.rs
Labels: wire, lib, src

feat(api/quota): allow openstackproject variant in flavor_quota_check
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

feat(wire,lib): add FlavorQuotaCheckParams.openstackproject
  lib/src/quota/flavor_quota.rs
  wire/src/quota.rs
Labels: wire, lib, src

feat(api/database): add select_user_by_openstack_id_from_db
  api/src/database/user/user.rs
Labels: api, src

chore(sqlx): update offline query data
  .sqlx/query-05513ce253efc6f7b247948c78da918f8d1973fe6fb328b9553cd919b5d96b48.json
Labels: none

feat(api/quota): allow openstackproject variant in flavor_quota_check
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

docs(routes): add details to remaining todos
  api/src/routes/mod.rs
Labels: api, src

feat(api/quota): make flavor_quota::check public
  api/src/routes/mod.rs
  api/src/routes/quota/flavor_quota/mod.rs
  api/src/routes/quota/mod.rs
Labels: api, src

feat(api/quota): add simple QuotaCache
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

feat(api/startup): initialize QuotaCache and add as Data
  api/src/startup.rs
Labels: api, src

build(scripts): use export when setting RUST_LOG
  scripts/run_api.sh
Labels: sh

feat(api/quota): use QuotaCache to speed up flavor_quota_check
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

style(api/quota): fix clippy issue in flavor quota check module
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/quota): add simple QuotaCache
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

build(scripts): use export when setting RUST_LOG
  scripts/run_api.sh
Labels: sh

feat(api/startup): initialize QuotaCache and add as Data
  api/src/startup.rs
Labels: api, src

feat(api/quota): make flavor_quota::check public
  api/src/routes/mod.rs
  api/src/routes/quota/flavor_quota/mod.rs
  api/src/routes/quota/mod.rs
Labels: api, src

feat(api/quota): use QuotaCache to speed up flavor_quota_check
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

style(api/quota): fix clippy issue in flavor quota check module
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/user): create user and project budgets in user_import
  api/src/routes/user/import.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/user): create user and project budgets in user_import
  api/src/routes/user/import.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/configuration): add avina-ldap parameters
  api/configuration/production.yaml
  api/src/configuration.rs
Labels: api, src

feat(api/startup): add AvinaLdapConfig and pass as web Data
  api/src/startup.rs
Labels: api, src

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
