Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: lib, cli, tests, dependency, ci

.github/labeler.yml:

lib:
- changed-files:
  - any-glob-to-any-file: src/lib/*

cli:
- changed-files: 
  - any-glob-to-any-file: src/cli/*

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*

feat(ui/components): add dialog compoment
  ui/src/components/dialog/component.rs
  ui/src/components/dialog/mod.rs
  ui/src/components/dialog/style.css
  ui/src/components/mod.rs
Labels: none

feat(ui/budget): add sub page bar and empty project and all sub pages
  ui/src/pages/budget.rs
Labels: none

feat(ui/components): add charts module with UsagePieChart and BarChart
  ui/src/components/charts.rs
  ui/src/components/mod.rs
Labels: none

feat(ui/budget/project): add dialog for all users
  ui/src/pages/budget/project.rs
Labels: none

feat(ui/budget): add server cost details table
  ui/src/pages/budget.rs
Labels: none

feat(scripts): move config_env.sh into run_api.sh and update docs
  api/README.md
  scripts/config_env.sh
  scripts/run_api.sh
Labels: none

feat(ui): remove local-api feature and receive api_url from ui-wrapper
  scripts/run_ui.sh
  scripts/run_ui_prod.sh
  ui/Cargo.toml
  ui/src/main.rs
Labels: none

feat(wrapper): send api_url to ui with token, configure in run_ui_wrapper.sh
  scripts/run_ui_wrapper.sh
  wrapper/app.py
  wrapper/templates/index.html
Labels: none

feat(scripts): move config_env.sh into run_api.sh and update docs
  api/README.md
  scripts/config_env.sh
  scripts/run_api.sh
Labels: none

feat(wrapper): send api_url to ui with token, configure in run_ui_wrapper.sh
  scripts/run_ui_wrapper.sh
  wrapper/app.py
  wrapper/templates/index.html
Labels: none

feat(ui): remove local-api feature and receive api_url from ui-wrapper
  scripts/run_ui.sh
  scripts/run_ui_prod.sh
  ui/Cargo.toml
  ui/src/main.rs
Labels: none

build(ui/docker): ping dioxus-cli version in Dockerfile
  ui/Dockerfile
Labels: none

build(ui/docker): use clean debian:trixie-slim to reduce image size
  ui/Dockerfile
Labels: none

tmp
  panel/.gitignore
  panel/AUTHORS
  panel/ChangeLog
  panel/MANIFEST.in
  panel/README.md
  panel/__init__.py
  panel/avinapanel/__init__.py
  panel/avinapanel/api/__init__.py
  panel/avinapanel/api/api.py
  panel/avinapanel/content/__init__.py
  panel/avinapanel/content/avinapanel/__init__.py
  panel/avinapanel/content/avinapanel/panel.py
  panel/avinapanel/content/avinapanel/templates/avinapanel/index.html
  panel/avinapanel/content/avinapanel/tests.py
  panel/avinapanel/content/avinapanel/urls.py
  panel/avinapanel/content/avinapanel/views.py
  panel/avinapanel/enabled/_30900_avinapanel.py
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.html
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.js
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.scss
  panel/setup.cfg
  panel/setup.py
Labels: none

feat(api/startup): setup cors for access from test and prod ui
  api/src/startup.rs
Labels: none

fix(api/startup): allow any origin using cors for now
  api/src/startup.rs
Labels: none

tmp2
  panel/avinapanel/content/avinapanel/templates/avinapanel/index.html
Labels: none

feat(panel): add horizon panel plugin to embed the ui
  panel/.gitignore
  panel/AUTHORS
  panel/ChangeLog
  panel/MANIFEST.in
  panel/README.md
  panel/__init__.py
  panel/avinapanel/__init__.py
  panel/avinapanel/api/__init__.py
  panel/avinapanel/api/api.py
  panel/avinapanel/content/__init__.py
  panel/avinapanel/content/avinapanel/__init__.py
  panel/avinapanel/content/avinapanel/panel.py
  panel/avinapanel/content/avinapanel/templates/avinapanel/index.html
  panel/avinapanel/content/avinapanel/tests.py
  panel/avinapanel/content/avinapanel/urls.py
  panel/avinapanel/content/avinapanel/views.py
  panel/avinapanel/enabled/_30900_avinapanel.py
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.html
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.js
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.scss
  panel/setup.cfg
  panel/setup.py
Labels: none

feat(api/startup): setup cors for access from test and prod ui
  api/src/startup.rs
Labels: none

feat(ui/main): retry fetching login data three times
  ui/src/main.rs
Labels: none

feat(panel): add horizon panel plugin to embed the ui
  panel/.gitignore
  panel/AUTHORS
  panel/ChangeLog
  panel/MANIFEST.in
  panel/README.md
  panel/__init__.py
  panel/avinapanel/__init__.py
  panel/avinapanel/api/__init__.py
  panel/avinapanel/api/api.py
  panel/avinapanel/content/__init__.py
  panel/avinapanel/content/avinapanel/__init__.py
  panel/avinapanel/content/avinapanel/panel.py
  panel/avinapanel/content/avinapanel/templates/avinapanel/index.html
  panel/avinapanel/content/avinapanel/tests.py
  panel/avinapanel/content/avinapanel/urls.py
  panel/avinapanel/content/avinapanel/views.py
  panel/avinapanel/enabled/_30900_avinapanel.py
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.html
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.js
  panel/avinapanel/static/dashboard/lrz/avina/avinapanel/avinapanel.scss
  panel/setup.cfg
  panel/setup.py
Labels: none

feat(api/startup): setup cors for access from test and prod ui
  api/src/startup.rs
Labels: none

feat(ui/main): retry fetching login data three times
  ui/src/main.rs
Labels: none

docs(readme): update intro and fix typo
  README.md
Labels: none

chore(cargo): update crate versions for new release
  Cargo.lock
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  ui/Cargo.toml
  wire/Cargo.toml
Labels: dependency

docs(changelog): update for new release
  CHANGELOG.md
Labels: none

docs(changelog): update for new release
  CHANGELOG.md
Labels: none

docs(readme): update intro and fix typo
  README.md
Labels: none

chore(cargo): update crate versions for new release
  Cargo.lock
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  ui/Cargo.toml
  wire/Cargo.toml
Labels: dependency

docs(readme): remove version badge for ui
  README.md
Labels: none

ci(test): add docs job that runs cargo doc
  .github/workflows/test.yml
Labels: ci

build(api): add build.rs that sets SQLX_OFFLINE when DOCS_RS is set
  api/build.rs
Labels: none

docs(changelog): update for new api release
  CHANGELOG.md
Labels: none

chore(api/cargo): update avina-api version to v1.2.1
  Cargo.lock
  api/Cargo.toml
Labels: dependency

ci(test): add docs job that runs cargo doc
  .github/workflows/test.yml
Labels: ci

docs(changelog): update for new api release
  CHANGELOG.md
Labels: none

chore(api/cargo): update avina-api version to v1.2.1
  Cargo.lock
  api/Cargo.toml
Labels: dependency

build(api): add build.rs that sets SQLX_OFFLINE when DOCS_RS is set
  api/build.rs
Labels: none

docs(wire): add crate and module level docstrings
  wire/src/accounting/mod.rs
  wire/src/accounting/server_consumption.rs
  wire/src/accounting/server_cost.rs
  wire/src/accounting/server_state.rs
  wire/src/budgeting/budget_bulk_create.rs
  wire/src/budgeting/budget_over_tree.rs
  wire/src/budgeting/mod.rs
  wire/src/budgeting/project_budget.rs
  wire/src/budgeting/user_budget.rs
  wire/src/common.rs
  wire/src/error.rs
  wire/src/hello.rs
  wire/src/lib.rs
  wire/src/pricing.rs
  wire/src/quota.rs
  wire/src/resources/flavor.rs
  wire/src/resources/flavor_group.rs
  wire/src/resources/mod.rs
  wire/src/resources/usage.rs
  wire/src/user/mod.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: none

docs(wire/accounting): add docstrings to ServerConsumptionParams
  wire/src/accounting/server_consumption.rs
Labels: none
