Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: api, lib, cli, dep, src, test, db, sh, ci

feat(lib/lib): make modules public
  lib/src/lib.rs
Labels: src

docs(api/routes/user/get): write docstrings
  api/src/routes/user/project/get.rs
Labels: src

feat(api/routes/resources/flavor): make submodules public
  api/src/routes/resources/flavor/mod.rs
Labels: src

feat(api/routes/resources): merge usage_scope into resources_scope
  api/src/routes/resources/mod.rs
  api/src/routes/resources/usage.rs
Labels: src

docs(lib/readme): update port in usage example
  lib/README.md
Labels: lib

docs(api/routes/accounting): add docstrings
  api/src/routes/accounting/mod.rs
Labels: src

docs(api/routes/user,resources): improve scope docstring
  api/src/routes/resources/mod.rs
  api/src/routes/user/mod.rs
Labels: src

feat(api/routes/resources): make submodules public
  api/src/routes/resources/mod.rs
Labels: src

docs(api/routes/project/list): fix type in docstring
  api/src/routes/user/project/list.rs
Labels: src

docs(lib/error): write docstrings
  lib/src/error.rs
Labels: src

docs(api/routes): remove todo comments on put method
  api/src/routes/accounting/server_state/mod.rs
  api/src/routes/budgeting/project_budget/mod.rs
  api/src/routes/budgeting/user_budget/mod.rs
  api/src/routes/pricing/flavor_price/mod.rs
  api/src/routes/quota/flavor_quota/mod.rs
  api/src/routes/resources/flavor/mod.rs
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/user/project/mod.rs
  api/src/routes/user/user/mod.rs
Labels: src

docs(api/routes/user): fix scope docstring
  api/src/routes/user/mod.rs
Labels: src

docs(api/routes/user): improve scope docstring
  api/src/routes/user/mod.rs
Labels: src

chore(spell): update spellcheck dictionary
  .spellcheck.dic
Labels: none

docs(api/routes/accounting/server_state): add docstrings
  api/src/routes/accounting/server_state/mod.rs
Labels: src

feat(lib): use Default::default to setup params
  lib/src/accounting/server_consumption.rs
  lib/src/accounting/server_cost.rs
  lib/src/accounting/server_state.rs
  lib/src/budgeting/budget_over_tree.rs
  lib/src/budgeting/project_budget.rs
  lib/src/budgeting/user_budget.rs
  lib/src/pricing.rs
  lib/src/quota/flavor_quota.rs
  lib/src/resources/flavor.rs
  lib/src/resources/flavor_group.rs
  lib/src/user/project.rs
  lib/src/user/user.rs
Labels: src

docs(api/database/user): fix typo in docstring
  api/src/database/user/user.rs
Labels: src

docs(lib/hello): write docstrings
  lib/src/hello.rs
Labels: src

docs(api/routes/user/import): improve docstrings
  api/src/routes/user/import.rs
Labels: src

docs(wire/pricing): write docstrings
  wire/src/pricing.rs
Labels: src

docs(api/routes/user/sync): improve docstrings
  api/src/routes/user/sync.rs
Labels: src

docs(ui/readme): add info on requirement versions
  ui/README.md
Labels: none

feat(api/routes/accounting): make submodules pub
  api/src/routes/accounting/mod.rs
Labels: src

docs(api/server-state/import): make note on union_hash_zip a warning
  api/src/routes/accounting/server_state/import.rs
Labels: src

docs(api/routes/user/create): write docstrings
  api/src/routes/user/user/create.rs
Labels: src

docs(lib/lib): add missing to_string in usage example
  lib/src/lib.rs
Labels: src

feat(api): move all delete_.+_from_db functions to database module
  api/src/database/accounting/server_state.rs
  api/src/database/budgeting/project_budget.rs
  api/src/database/budgeting/user_budget.rs
  api/src/database/pricing/flavor_price.rs
  api/src/database/quota/flavor_quota.rs
  api/src/database/resources/flavor.rs
  api/src/database/resources/flavor_group.rs
  api/src/routes/accounting/server_state/delete.rs
  api/src/routes/budgeting/project_budget/delete.rs
  api/src/routes/budgeting/user_budget/delete.rs
  api/src/routes/pricing/flavor_price/delete.rs
  api/src/routes/quota/flavor_quota/delete.rs
  api/src/routes/resources/flavor/delete.rs
  api/src/routes/resources/flavor_group/delete.rs
Labels: src

docs(api/routes/project/list): write docstrings
  api/src/routes/user/project/list.rs
Labels: src

feat(api/routes/resources/flavor_group): make submodules public
  api/src/routes/resources/flavor_group/mod.rs
Labels: src

docs(lib): remove spam todo comments on Url.join
  lib/src/accounting/server_state.rs
  lib/src/budgeting/project_budget.rs
  lib/src/budgeting/user_budget.rs
  lib/src/pricing.rs
  lib/src/quota/flavor_quota.rs
  lib/src/resources/flavor.rs
  lib/src/resources/flavor_group.rs
  lib/src/user/project.rs
  lib/src/user/user.rs
Labels: src

chore(spell): update spellcheck dictionary
  .spellcheck.dic
Labels: none

docs(wire/hello): write docstrings
  wire/src/hello.rs
Labels: src

docs(development): add markdown with comment keywords list
  DEVELOPMENT.md
Labels: none

docs(api/routes/resources/flavor): write docstrings
  api/src/routes/resources/flavor/mod.rs
Labels: src

docs(api/routes/flavor/create): write docstrings
  api/src/routes/resources/flavor/create.rs
Labels: src

chore(deny): add advisory to ignore list
  .deny.toml
Labels: none

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: "api/*"

lib:
- changed-files:
  - any-glob-to-any-file: "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file: "cli/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
