Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

feat(api/user): add AvinaLdap client and use in user_import
  api/src/routes/user/import.rs
Labels: api, src

build(scripts): remove RUST_LOG variable from run_api.sh
  scripts/run_api.sh
Labels: sh

fix(api/user/import): correct avina-ldap response parsing
  api/src/routes/user/import.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(api/startup): add AvinaLdapConfig and pass as web Data
  api/src/startup.rs
Labels: api, src

feat(api/user): add AvinaLdap client and use in user_import
  api/src/routes/user/import.rs
Labels: api, src

feat(api/configuration): add avina-ldap parameters
  api/configuration/production.yaml
  api/src/configuration.rs
Labels: api, src

fix(api/user/import): correct avina-ldap response parsing
  api/src/routes/user/import.rs
Labels: api, src

build(scripts): remove RUST_LOG variable from run_api.sh
  scripts/run_api.sh
Labels: sh

build(api/docker): update runtime to debian trixie
  api/Dockerfile
Labels: api

build(scripts): rename api container to avina
  scripts/run_api_container.sh
Labels: sh

build(scripts): add network and app environment option to api container
  scripts/run_api_container.sh
Labels: sh

feat(cli/main): route all calls to rust url by default
  cli/src/main.rs
Labels: cli, src

fix(wire/project): import missing sqlx
  wire/src/user/project.rs
Labels: wire, src

chore(cargo): bump avina-wire crate to new v2.0.0
  Cargo.lock
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  wire/Cargo.toml
Labels: wire, api, lib, cli, dep

chore(cargo,scripts): update avina-api crate to new v1.0.0
  Cargo.lock
  api/Cargo.toml
  scripts/build_api_container.sh
  test/Cargo.toml
Labels: api, dep, sh

chore(cargo): bump avina-cli crate to new v2.0.0
  Cargo.lock
  cli/Cargo.toml
Labels: cli, dep

chore(cargo,readme): update avina crate to new v2.0.0
  Cargo.lock
  cli/Cargo.toml
  lib/Cargo.toml
  lib/README.md
  test/Cargo.toml
  ui/Cargo.toml
Labels: lib, cli, ui, dep

chore(cargo): bump avina-ui crate to new v0.0.2
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep

chore(cargo): bump avina-test crate to new v0.7.0
  Cargo.lock
  test/Cargo.toml
Labels: dep

chore(cargo): bump reqwest from 0.12.28 to 0.13.0
  Cargo.lock
  api/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
Labels: api, lib, dep

fix(wire,ui,cargo): repair wasm compilation of wire crate
  .cargo/config.toml
  ui/Cargo.toml
  wire/Cargo.toml
Labels: wire, ui, dep

chore(cargo): bump dioxus from 0.6.3 to 0.7.2
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep

fix(wire/project): guard Type derive on UserClass by sqlx feature
  wire/src/user/project.rs
Labels: wire, src

chore(cargo): run cargo update
  Cargo.lock
Labels: dep

build(cargo): let machete ignore getrandom
  ui/Cargo.toml
Labels: ui, dep

chore(deny): add OpenSSL to allowed licenses
  .deny.toml
Labels: none

docs(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(deny): remove old advisory ignore
  .deny.toml
Labels: none

fix(wire/project): import missing sqlx
  wire/src/user/project.rs
Labels: wire, src

docs(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(cargo): bump avina-ui crate to new v0.0.2
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep

fix(wire,ui,cargo): repair wasm compilation of wire crate
  .cargo/config.toml
  ui/Cargo.toml
  wire/Cargo.toml
Labels: wire, ui, dep

chore(cargo): run cargo update
  Cargo.lock
Labels: dep

chore(cargo): bump avina-test crate to new v0.7.0
  Cargo.lock
  test/Cargo.toml
Labels: dep

chore(cargo,readme): update avina crate to new v2.0.0
  Cargo.lock
  cli/Cargo.toml
  lib/Cargo.toml
  lib/README.md
  test/Cargo.toml
  ui/Cargo.toml
Labels: lib, cli, ui, dep

chore(cargo): bump avina-cli crate to new v2.0.0
  Cargo.lock
  cli/Cargo.toml
Labels: cli, dep

chore(deny): add OpenSSL to allowed licenses
  .deny.toml
Labels: none

chore(cargo,scripts): update avina-api crate to new v1.0.0
  Cargo.lock
  api/Cargo.toml
  scripts/build_api_container.sh
  test/Cargo.toml
Labels: api, dep, sh

chore(cargo): bump avina-wire crate to new v2.0.0
  Cargo.lock
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  wire/Cargo.toml
Labels: wire, api, lib, cli, dep

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
