Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: lib, cli, tests, dependency, ci

feat(api/error): add MethodNotAllowedOnlyError with impls
  api/src/error.rs
Labels: none

feat(test/lib): setup_test_project_budget_with_new_project_budget
  test/src/lib.rs
Labels: none

fix(wire/budgeting/project_budget): use default skip_serializing_if
  wire/src/budgeting/project_budget.rs
Labels: none

fix(api/budgeting/project_budget): modify endpoint permissions
  api/src/routes/budgeting/project_budget/modify.rs
Labels: none

test(budgeting/project_budget): test project budget modify endpoints
  test/tests/budgeting/project_budget/mod.rs
  test/tests/budgeting/project_budget/modify.rs
Labels: none

docs(wrapper/readme): add missing requests install
  wrapper/README.md
Labels: none

tmp
  Cargo.lock
  ui/Cargo.toml
  ui/src/main.rs
  ui/src/typst_wrapper.rs
Labels: dependency

feat(test/lib): setup_test_project_budget_with_new_project_budget
  test/src/lib.rs
Labels: none

fix(wire/budgeting/project_budget): use default skip_serializing_if
  wire/src/budgeting/project_budget.rs
Labels: none

fix(api/budgeting/project_budget): modify endpoint permissions
  api/src/routes/budgeting/project_budget/modify.rs
Labels: none

test(budgeting/project_budget): test project budget modify endpoints
  test/tests/budgeting/project_budget/mod.rs
  test/tests/budgeting/project_budget/modify.rs
Labels: none

fix(api/budgeting/project_budget): allow modifying future budgets
  api/src/routes/budgeting/project_budget/modify.rs
Labels: none

build(cargo): update yanked tower-http dependency
  Cargo.lock
Labels: dependency

build(cargo): update yanked tower-http dependency
  Cargo.lock
Labels: dependency

fix(api/budgeting/project_budget): modify endpoint permissions
  api/src/routes/budgeting/project_budget/modify.rs
Labels: none

fix(api/budgeting/project_budget): allow modifying future budgets
  api/src/routes/budgeting/project_budget/modify.rs
Labels: none

test(budgeting/project_budget): test project budget modify endpoints
  test/tests/budgeting/project_budget/mod.rs
  test/tests/budgeting/project_budget/modify.rs
Labels: none

feat(test/lib): setup_test_project_budget_with_new_project_budget
  test/src/lib.rs
Labels: none

fix(wire/budgeting/project_budget): use default skip_serializing_if
  wire/src/budgeting/project_budget.rs
Labels: none

build(scripts): make run_api and run_ui executable
  scripts/run_api.sh
  scripts/run_ui.sh
Labels: none

feat(wire,api): add bare bill-get endpoint
  api/src/routes/bill.rs
  api/src/routes/mod.rs
  api/src/startup.rs
  wire/Cargo.toml
  wire/src/bill.rs
  wire/src/lib.rs
Labels: none

feat(lib,cli): add call for bill-get endpoint
  cli/Cargo.toml
  cli/src/bill.rs
  cli/src/main.rs
  lib/Cargo.toml
  lib/src/bill.rs
  lib/src/lib.rs
Labels: none

feat(wire,api): implement bill pdf generation
  Cargo.lock
  api/Cargo.toml
  api/assets/bill.typ.j2
  api/assets/logo.svg
  api/assets/nimbus-sans-bold.otf
  api/assets/nimbus-sans-regular.otf
  api/src/routes/bill.rs
  api/src/startup.rs
  wire/src/bill.rs
Labels: dependency

feat(cli): add rudimentary saving of bill pdf
  cli/src/bill.rs
Labels: none

docs(wrapper/readme): add missing requests install
  wrapper/README.md
Labels: none

docs(api/routes): remove irrelevant endpoints from todo list
  api/src/routes/mod.rs
Labels: none

docs(api/routes): add flavor access endpoint to todo list
  api/src/routes/mod.rs
Labels: none

feat(api/authentication): add token to request extensions
  api/src/authentication.rs
Labels: none

feat(api/configuration): add cloud usage url as ReqData
  api/configuration/production.yaml
  api/src/configuration.rs
  api/src/startup.rs
Labels: none

feat(api/routes): implement resources::usage::cloud_usage
  api/src/routes/resources/mod.rs
  api/src/routes/resources/usage.rs
Labels: none

docs(api/routes): remove resources::usage from endpoint todo list
  api/src/routes/mod.rs
Labels: none

style(api/routes): fix clippy issues in server_consumption::get
  api/src/routes/accounting/server_consumption/get.rs
Labels: none

docs(api/routes): remove resources::usage from endpoint todo list
  api/src/routes/mod.rs
Labels: none

feat(api/routes): implement resources::usage::cloud_usage
  api/src/routes/resources/mod.rs
  api/src/routes/resources/usage.rs
Labels: none

feat(api/authentication): add token to request extensions
  api/src/authentication.rs
Labels: none

style(api/routes): fix clippy issues in server_consumption::get
  api/src/routes/accounting/server_consumption/get.rs
Labels: none

feat(api/configuration): add cloud usage url as ReqData
  api/configuration/production.yaml
  api/src/configuration.rs
  api/src/startup.rs
Labels: none

ci(workflow): use zizmor v1.10.0 because v1.11.0 does not compile
  .github/workflows/workflow.yml
Labels: ci

ci(workflow): use --locked for zizmor installation
  .github/workflows/workflow.yml
Labels: ci

ci(workflow): use --locked for zizmor installation
  .github/workflows/workflow.yml
Labels: ci

.github/labeler.yml:

lib:
- changed-files:
  - any-glob-to-any-file: src/lib/*

cli:
- changed-files: 
  - any-glob-to-any-file: src/cli/*

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*
