Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

feat(ui/profile): adjust formatting to match price page
  ui/src/pages/profile.rs
Labels: ui, src

feat(ui/main): add line break in rsx_with_page_bar
  ui/src/main.rs
Labels: ui, src

feat(ui): add simple flavor price page, remove hello page
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/mod.rs
  ui/src/pages/prices.rs
Labels: ui, src

feat(ui/prices): use bootstrap theming for price table
  ui/src/pages/prices.rs
Labels: ui, src

build(ui/cargo): add dependency chrono
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep

build(ui/theme): import bootstrap css
  ui/assets/dx-components-theme.css
Labels: ui

build(ui/cargo): add dependency avina-wire
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep

feat(ui/prices): fully implement price page
  ui/src/pages/prices.rs
Labels: ui, src

feat(wrapper): let iframe grow as large as needed
  wrapper/templates/index.html
Labels: none

fix(ui/common): adjust api_call for multiple invocations
  ui/src/common.rs
Labels: ui, src

feat(ui/prices): remove useless debug output
  ui/src/pages/prices.rs
Labels: ui, src

fix(wire/usage): make CloudUsageFlavorSlot.free an i32
  wire/src/resources/usage.rs
Labels: wire, src

feat(ui): add bare UsagePage only displaying timestamp
  ui/src/main.rs
  ui/src/pages/mod.rs
  ui/src/pages/usage.rs
Labels: ui, src

build(ui/theme): import charts css
  ui/assets/dx-components-theme.css
Labels: ui

feat(ui/main): put pages into container-fluid div
  ui/src/main.rs
Labels: ui, src

feat(ui/usage): add public resources overview
  ui/src/pages/usage.rs
Labels: ui, src

build(ui/theme): adjust font sizes for body and headings
  ui/assets/dx-components-theme.css
Labels: ui

feat(ui/usage): add flavor slot tables
  ui/src/pages/usage.rs
Labels: ui, src

docs(ui/main): add todo comment regarding api url argument
  ui/src/main.rs
Labels: ui, src

feat(ui/main): put pages into container-fluid div
  ui/src/main.rs
Labels: ui, src

feat(ui/usage): add flavor slot tables
  ui/src/pages/usage.rs
Labels: ui, src

fix(wire/usage): make CloudUsageFlavorSlot.free an i32
  wire/src/resources/usage.rs
Labels: wire, src

build(ui/theme): import charts css
  ui/assets/dx-components-theme.css
Labels: ui

feat(ui): add bare UsagePage only displaying timestamp
  ui/src/main.rs
  ui/src/pages/mod.rs
  ui/src/pages/usage.rs
Labels: ui, src

docs(ui/main): add todo comment regarding api url argument
  ui/src/main.rs
Labels: ui, src

build(ui/theme): adjust font sizes for body and headings
  ui/assets/dx-components-theme.css
Labels: ui

feat(ui/usage): add public resources overview
  ui/src/pages/usage.rs
Labels: ui, src

build(ui/cargo): add feature local-api
  ui/Cargo.toml
Labels: ui, dep

feat(ui/main): define API_URL based on local-api feature
  ui/src/main.rs
Labels: ui, src

build(scripts): adjust run_ui.sh and add run_ui_prod.sh
  scripts/run_ui.sh
  scripts/run_ui_prod.sh
Labels: sh

docs(ui/readme): add paragraph about running with production api
  ui/README.md
Labels: ui

feat(ui/main): define API_URL based on local-api feature
  ui/src/main.rs
Labels: ui, src

docs(ui/readme): add paragraph about running with production api
  ui/README.md
Labels: ui

build(scripts): adjust run_ui.sh and add run_ui_prod.sh
  scripts/run_ui.sh
  scripts/run_ui_prod.sh
Labels: sh

build(ui/cargo): add feature local-api
  ui/Cargo.toml
Labels: ui, dep

build(ui/theme): remove custom font import
  ui/assets/dx-components-theme.css
Labels: ui

feat(ui/theme,ui/main): include bootstrap and charts css
  ui/assets/bootstrap.min.css
  ui/assets/charts.min.css
  ui/assets/dx-components-theme.css
  ui/src/main.rs
Labels: ui, src

feat(ui/components): add charts module with UsagePieChart and BarChart
  ui/src/components/charts.rs
  ui/src/components/mod.rs
Labels: ui, src

feat(ui/usage): use UsagePieChart for UsagePage
  ui/src/pages/usage.rs
Labels: ui, src

feat(ui/budget): add module with initial BudgetPage
  ui/src/main.rs
  ui/src/pages/budget.rs
  ui/src/pages/mod.rs
Labels: ui, src
