Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: api, lib, cli, dep, src, test, db, sh, ci

feat(ui): initialize dx components and add button component
  ui/assets/dx-components-theme.css
  ui/src/components/button/component.rs
  ui/src/components/button/mod.rs
  ui/src/components/button/style.css
  ui/src/components/mod.rs
Labels: src

build(ui/cargo): add dioxus-primitives dependency
  Cargo.lock
  ui/Cargo.toml
Labels: dep

feat(ui): load theme and use button component for page bar
  ui/src/main.rs
Labels: src

fix(ui): correct inputs to rsx_with_page_bar macro
  ui/src/main.rs
Labels: src

feat(ui): add pages module and move pages into submodules
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/mod.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui/profile): display user information properly
  ui/src/pages/profile.rs
Labels: src

feat(ui/main): put div around content in rsx_with_page_bar
  ui/src/main.rs
Labels: src

feat(ui/profile): add proper error handling for api request
  ui/src/pages/profile.rs
Labels: src

style(ui/hello): address rustfmt issues
  ui/src/pages/hello.rs
Labels: src

feat(ui/profile): display user information properly
  ui/src/pages/profile.rs
Labels: src

feat(ui/main): put div around content in rsx_with_page_bar
  ui/src/main.rs
Labels: src

feat(ui/profile): add proper error handling for api request
  ui/src/pages/profile.rs
Labels: src

style(ui/hello): address rustfmt issues
  ui/src/pages/hello.rs
Labels: src

feat(ui): add pages module and move pages into submodules
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/mod.rs
  ui/src/pages/profile.rs
Labels: src

build(ui/cargo): add tracing dependency
  Cargo.lock
  ui/Cargo.toml
Labels: dep

feat(ui/profile): add log messages for api errors
  ui/src/pages/profile.rs
Labels: src

feat(ui/profile): add log messages for api errors
  ui/src/pages/profile.rs
Labels: src

build(ui/cargo): add tracing dependency
  Cargo.lock
  ui/Cargo.toml
Labels: dep

feat(ui): use read instead of read_unchecked
  ui/src/main.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui/hello): add proper error handling to HelloPage
  ui/src/pages/hello.rs
Labels: src

feat(ui/profile,hello): improve error log messages
  ui/src/pages/hello.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui/main): handle token eval errors and no token errors
  ui/src/main.rs
Labels: src

feat(ui): create macro api_call and use in pages
  ui/src/common.rs
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui): improve api_call macro and add return_unexpected_error macro
  ui/src/common.rs
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui/main): handle token eval errors and no token errors
  ui/src/main.rs
Labels: src

feat(ui/profile,hello): improve error log messages
  ui/src/pages/hello.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui/hello): add proper error handling to HelloPage
  ui/src/pages/hello.rs
Labels: src

feat(ui): create macro api_call and use in pages
  ui/src/common.rs
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui): use read instead of read_unchecked
  ui/src/main.rs
  ui/src/pages/profile.rs
Labels: src

feat(ui): improve api_call macro and add return_unexpected_error macro
  ui/src/common.rs
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/profile.rs
Labels: src

feat(wrapper): let iframe grow as large as needed
  wrapper/templates/index.html
Labels: none

build(ui/cargo): add dependency avina-wire
  Cargo.lock
  ui/Cargo.toml
Labels: dep

fix(ui/common): adjust api_call for multiple invocations
  ui/src/common.rs
Labels: src

feat(ui): add simple flavor price page, remove hello page
  ui/src/main.rs
  ui/src/pages/hello.rs
  ui/src/pages/mod.rs
  ui/src/pages/prices.rs
Labels: src

build(ui/theme): import bootstrap css
  ui/assets/dx-components-theme.css
Labels: none

feat(ui/prices): use bootstrap theming for price table
  ui/src/pages/prices.rs
Labels: src

feat(ui/main): add line break in rsx_with_page_bar
  ui/src/main.rs
Labels: src

build(ui/cargo): add dependency chrono
  Cargo.lock
  ui/Cargo.toml
Labels: dep

feat(ui/prices): fully implement price page
  ui/src/pages/prices.rs
Labels: src

feat(ui/profile): adjust formatting to match price page
  ui/src/pages/profile.rs
Labels: src

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: "api/*"

lib:
- changed-files:
  - any-glob-to-any-file: "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file: "cli/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
