Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: api, lib, cli, dep, src, test, db, sh, ci

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: "api/*"

lib:
- changed-files:
  - any-glob-to-any-file: "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file: "cli/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

refactor(api): move AvinaLdap to new ldap module
  api/src/ldap.rs
  api/src/lib.rs
  api/src/routes/user/import.rs
Labels: src

feat(api/ldap): add no default functions to AvinaLdap
  api/src/ldap.rs
Labels: src

feat(lib/user,cli/user): add user sync call and command
  cli/src/user/user.rs
  lib/src/user/user.rs
Labels: src

feat(api/user): implement user class update in user_sync
  api/src/routes/user/sync.rs
Labels: src

fix(api/user): add missing transaction commit in user_sync
  api/src/routes/user/sync.rs
Labels: src

fix(api/user): use no default AvinaLdap functions in user_sync
  api/src/routes/user/sync.rs
Labels: src

chore(cargo): bump avina-wire crate to v2.1.0
  Cargo.lock
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  wire/Cargo.toml
Labels: api, lib, cli, dep

chore(cargo): bump avina crate to v2.1.0
  Cargo.lock
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  ui/Cargo.toml
Labels: lib, cli, dep

chore(cargo): bump avina-ui crate to v0.0.3
  Cargo.lock
  ui/Cargo.toml
Labels: dep

chore(cargo): bump avina-cli crate to v2.1.0
  Cargo.lock
  cli/Cargo.toml
Labels: cli, dep

chore(cargo): bump avina-api crate to v1.1.0
  Cargo.lock
  api/Cargo.toml
  test/Cargo.toml
Labels: api, dep

chore(cargo): bump avina-test crate to v0.8.0
  Cargo.lock
  test/Cargo.toml
Labels: dep

chore(cargo): bump dioxus from 0.7.2 to 0.7.3
  Cargo.lock
  ui/Cargo.toml
Labels: dep

build(docker): install wasm-opt in ui Dockerfile
  ui/Dockerfile
Labels: none

build(docker): add release flag to build command in ui Dockerfile
  ui/Dockerfile
Labels: none

build(scripts): consolidate container scripts into build_container.sh
  scripts/build_api_container.sh
  scripts/build_container.sh
  scripts/build_ui_container.sh
Labels: sh

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(cargo): bump avina-test crate to v0.8.0
  Cargo.lock
  test/Cargo.toml
Labels: dep

chore(cargo): bump avina-api crate to v1.1.0
  Cargo.lock
  api/Cargo.toml
  test/Cargo.toml
Labels: api, dep

chore(cargo): bump avina-wire crate to v2.1.0
  Cargo.lock
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  wire/Cargo.toml
Labels: api, lib, cli, dep

chore(cargo): bump avina-ui crate to v0.0.3
  Cargo.lock
  ui/Cargo.toml
Labels: dep

chore(cargo): bump avina-cli crate to v2.1.0
  Cargo.lock
  cli/Cargo.toml
Labels: cli, dep

build(docker): install wasm-opt in ui Dockerfile
  ui/Dockerfile
Labels: none

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

build(scripts): consolidate container scripts into build_container.sh
  scripts/build_api_container.sh
  scripts/build_container.sh
  scripts/build_ui_container.sh
Labels: sh

chore(cargo): bump avina crate to v2.1.0
  Cargo.lock
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  ui/Cargo.toml
Labels: lib, cli, dep

build(docker): add release flag to build command in ui Dockerfile
  ui/Dockerfile
Labels: none

chore(cargo): bump dioxus from 0.7.2 to 0.7.3
  Cargo.lock
  ui/Cargo.toml
Labels: dep

feat(api/accounting): optimize calculate_flavor_consumption_cost
  api/src/routes/accounting/server_cost/get.rs
Labels: src

fix(api/accounting): fix filtering in get_flavor_price_map_for_period
  api/src/routes/accounting/server_cost/get.rs
Labels: src

fix(api/accounting): fix iteration in get_flavor_prices_for_periods
  api/src/routes/accounting/server_cost/get.rs
Labels: src

fix(api/accounting): fix filtering in get_flavor_price_map_for_period
  api/src/routes/accounting/server_cost/get.rs
Labels: src

feat(api/accounting): optimize calculate_flavor_consumption_cost
  api/src/routes/accounting/server_cost/get.rs
Labels: src

fix(api/accounting): fix iteration in get_flavor_prices_for_periods
  api/src/routes/accounting/server_cost/get.rs
Labels: src

chore(cargo): bump avina-api crate to v1.1.1
  Cargo.lock
  api/Cargo.toml
Labels: api, dep

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(cargo): bump avina-api crate to v1.1.1
  Cargo.lock
  api/Cargo.toml
Labels: api, dep

fix(api/routes): don't overwrite user with queried_user in user_budget_list
  api/src/routes/budgeting/user_budget/list.rs
Labels: src

fix(api/routes): use cost of queried project in user_budget_modify
  api/src/routes/budgeting/user_budget/modify.rs
Labels: src
