Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

fix: use Uuid for instance_id
  Cargo.lock
  api/Cargo.toml
  api/src/database/accounting/server_state.rs
  api/src/openstack.rs
  api/src/routes/accounting/server_consumption/get.rs
  api/src/routes/accounting/server_cost/get.rs
  api/src/routes/accounting/server_state/create.rs
  api/src/routes/accounting/server_state/import.rs
  api/src/routes/accounting/server_state/list.rs
  api/src/routes/accounting/server_state/modify.rs
  cli/Cargo.toml
  cli/src/accounting/server_consumption.rs
  cli/src/accounting/server_cost.rs
  cli/src/accounting/server_state.rs
  lib/Cargo.toml
  lib/src/accounting/server_consumption.rs
  lib/src/accounting/server_cost.rs
  lib/src/accounting/server_state.rs
  test/src/lib.rs
  test/tests/accounting/server_state/create.rs
  test/tests/accounting/server_state/list.rs
  test/tests/accounting/server_state/modify.rs
  test/tests/budgeting/user_budget/modify.rs
  wire/Cargo.toml
  wire/src/accounting/server_consumption.rs
  wire/src/accounting/server_cost.rs
  wire/src/accounting/server_state.rs
  wire/src/budgeting/budget_over_tree.rs
Labels: wire, api, lib, cli, dep, src, test

test(accounting/server_cost): test server cost endpoints
  test/tests/accounting/mod.rs
  test/tests/accounting/server_cost/get.rs
  test/tests/accounting/server_cost/mod.rs
  test/tests/accounting/server_state/create.rs
  test/tests/accounting/server_state/list.rs
  test/tests/accounting/server_state/modify.rs
  test/tests/budgeting/user_budget/modify.rs
Labels: test

build(cargo-husky): add --all-targets to clippy command
  .cargo-husky/hooks/pre-push
Labels: none

ci(lint): add --all --all-targets to clippy command
  .github/workflows/lint.yml
Labels: ci

fix(test/tests,api/tests): correct clippy issues
  api/tests/api/health_check.rs
  api/tests/api/hello/admin.rs
  api/tests/api/hello/user.rs
  test/tests/accounting/server_state/create.rs
  test/tests/accounting/server_state/list.rs
  test/tests/accounting/server_state/modify.rs
  test/tests/budgeting/user_budget/modify.rs
  test/tests/user/mod.rs
Labels: api, test

fix(test/tests,api/tests): correct clippy issues
  api/tests/api/health_check.rs
  api/tests/api/hello/admin.rs
  api/tests/api/hello/user.rs
  test/tests/accounting/server_state/create.rs
  test/tests/accounting/server_state/list.rs
  test/tests/accounting/server_state/modify.rs
  test/tests/budgeting/user_budget/modify.rs
  test/tests/user/mod.rs
Labels: api, test

build(cargo-husky): add --all-targets to clippy command
  .cargo-husky/hooks/pre-push
Labels: none

ci(lint): add --all --all-targets to clippy command
  .github/workflows/lint.yml
Labels: ci

feat(api/database/pricing): extend flavor_price_list
  api/src/database/pricing/flavor_price.rs
  api/src/routes/pricing/flavor_price/list.rs
  cli/src/pricing.rs
  lib/src/pricing.rs
  wire/src/pricing.rs
Labels: wire, api, lib, cli, src

chore(sqlx): update offline query data
  .sqlx/query-c990d584c45226181ef6a78a1e6320aa6d13b31c78e0f5a0586439a71147259f.json
Labels: none

test(pricing/flavor_price): test flavor_price_list
  test/tests/pricing/flavor_price/list.rs
  test/tests/pricing/flavor_price/mod.rs
Labels: test

feat(api/database/pricing): add select_flavor_prices_for_userclass_and_period_from_db
  api/src/database/pricing/flavor_price.rs
Labels: api, src

chore(sqlx): update offline query data
  .sqlx/query-49e94cca3778afe58d3d09d8c3912ecf4572f0023e0e4e2f269a2a64d6ba6c73.json
Labels: none

fix(api/pricing): allow both filters on flavor-price list
  api/src/routes/pricing/flavor_price/list.rs
Labels: api, src

feat(cli/pricing): make --current an actual flag on flavor-price list
  cli/src/pricing.rs
Labels: cli, src

test(pricing/flavor_price): e2e_lib_flavor_price_list_current and add e2e_lib_flavor_price_list_current_and_user_class
  test/tests/pricing/flavor_price/list.rs
Labels: test

fix(api/database/pricing): filter out outdated prices in select_flavor_prices_for_*period_from_db functions
  api/src/database/pricing/flavor_price.rs
Labels: api, src

chore(sqlx): update offline query data
  .sqlx/query-7cf2d64b957c3d11c1b3e7846c43984aae7bab2b2008ecf6cc151dc394889681.json
  .sqlx/query-901c54417e0ebd68cde90d3a36ae36e96680b72e4c8a42acbd046bd7e3abac5e.json
Labels: none

chore(sqlx): update offline query data
  .sqlx/query-c990d584c45226181ef6a78a1e6320aa6d13b31c78e0f5a0586439a71147259f.json
Labels: none

feat(api/database/pricing): extend flavor_price_list
  api/src/database/pricing/flavor_price.rs
  api/src/routes/pricing/flavor_price/list.rs
  cli/src/pricing.rs
  lib/src/pricing.rs
  wire/src/pricing.rs
Labels: wire, api, lib, cli, src

test(pricing/flavor_price): e2e_lib_flavor_price_list_current and add e2e_lib_flavor_price_list_current_and_user_class
  test/tests/pricing/flavor_price/list.rs
Labels: test

feat(api/database/pricing): add select_flavor_prices_for_userclass_and_period_from_db
  api/src/database/pricing/flavor_price.rs
Labels: api, src

test(pricing/flavor_price): test flavor_price_list
  test/tests/pricing/flavor_price/list.rs
  test/tests/pricing/flavor_price/mod.rs
Labels: test

fix(api/database/pricing): filter out outdated prices in select_flavor_prices_for_*period_from_db functions
  api/src/database/pricing/flavor_price.rs
Labels: api, src

chore(sqlx): update offline query data
  .sqlx/query-49e94cca3778afe58d3d09d8c3912ecf4572f0023e0e4e2f269a2a64d6ba6c73.json
Labels: none

feat(cli/pricing): make --current an actual flag on flavor-price list
  cli/src/pricing.rs
Labels: cli, src

chore(sqlx): update offline query data
  .sqlx/query-7cf2d64b957c3d11c1b3e7846c43984aae7bab2b2008ecf6cc151dc394889681.json
  .sqlx/query-901c54417e0ebd68cde90d3a36ae36e96680b72e4c8a42acbd046bd7e3abac5e.json
Labels: none

fix(api/pricing): allow both filters on flavor-price list
  api/src/routes/pricing/flavor_price/list.rs
Labels: api, src

feat(lib,wire): add FlavorQuotaCheckParams
  lib/src/quota/flavor_quota.rs
  wire/src/quota.rs
Labels: wire, lib, src

style(wire/user): use variable inside format string in UserClass.fmt
  wire/src/user/project.rs
Labels: wire, src

style(api/resources): use variable in format string in calculate_flavor_usage_for_user_simple
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(api/quota): add bare flavor_quota_check endpoint
  api/src/routes/quota/flavor_quota/check.rs
  api/src/routes/quota/flavor_quota/mod.rs
Labels: api, src

docs(api/quota): add todo comment regarding caching
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

feat(api/database): add select_flavor_quota_by_user_and_group_from_db
  api/src/database/quota/flavor_quota.rs
Labels: api, src

chore(sqlx): update offline query data
  .sqlx/query-3cbc532482f6c55accc1bfd84c45aae4b6a34d958b70c135430e1ebb11b7168b.json
Labels: none

tmp
  api/src/routes/quota/flavor_quota/check.rs
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/resources/mod.rs
Labels: api, src

fix(wire/quota): add sqlx try_froms to FlavorQuota fields
  wire/src/quota.rs
Labels: wire, src

feat(api/resources): make flavor_group::usage module public
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/resources/mod.rs
Labels: api, src

feat(api/quota): implement flavor_quota_check endpoint
  api/src/routes/quota/flavor_quota/check.rs
Labels: api, src

fix(wire/quota): add sqlx try_froms to FlavorQuota fields
  wire/src/quota.rs
Labels: wire, src

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
