Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

feat(api/user): move delete_user_from_db to database module
  api/src/database/user/user.rs
  api/src/routes/user/user/delete.rs
Labels: api, src

docs(wire): add crate and module level docstrings
  wire/src/accounting/mod.rs
  wire/src/accounting/server_consumption.rs
  wire/src/accounting/server_cost.rs
  wire/src/accounting/server_state.rs
  wire/src/budgeting/budget_bulk_create.rs
  wire/src/budgeting/budget_over_tree.rs
  wire/src/budgeting/mod.rs
  wire/src/budgeting/project_budget.rs
  wire/src/budgeting/user_budget.rs
  wire/src/common.rs
  wire/src/error.rs
  wire/src/hello.rs
  wire/src/lib.rs
  wire/src/pricing.rs
  wire/src/quota.rs
  wire/src/resources/flavor.rs
  wire/src/resources/flavor_group.rs
  wire/src/resources/mod.rs
  wire/src/resources/usage.rs
  wire/src/user/mod.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, src

docs(api/routes/hello): write docstrings
  api/src/routes/hello.rs
Labels: api, src

docs(wire/accounting): add docstrings to ServerConsumptionParams
  wire/src/accounting/server_consumption.rs
Labels: wire, src

docs(api/database/resources): write docstrings
  api/src/database/resources/flavor.rs
  api/src/database/resources/flavor_group.rs
  api/src/database/resources/mod.rs
Labels: api, src

feat(api/openstack): write docstrings
  api/src/openstack.rs
Labels: api, src

docs(api/database/accounting): write docstrings
  api/src/database/accounting/mod.rs
  api/src/database/accounting/server_state.rs
Labels: api, src

docs(api/routes/user/import): write docstrings
  api/src/routes/user/import.rs
Labels: api, src

docs(api/routes/user/me): write docstrings
  api/src/routes/user/me.rs
Labels: api, src

docs(api/routes/health_check): write docstrings
  api/src/routes/health_check.rs
Labels: api, src

docs(api/database/pricing): add docstrings
  api/src/database/pricing/flavor_price.rs
  api/src/database/pricing/mod.rs
Labels: api, src

feat(api/project): move delete_project_from_db to database module
  api/src/database/user/project.rs
  api/src/routes/user/project/delete.rs
Labels: api, src

docs(api/configuration): write docstrings
  api/src/configuration.rs
Labels: api, src

docs(api): reformat docstring lists to use dashes
  api/src/routes/hello.rs
  api/src/routes/user/mod.rs
  api/src/routes/user/project/mod.rs
  api/src/routes/user/user/list.rs
  api/src/routes/user/user/mod.rs
  api/src/telemetry.rs
Labels: api, src

docs(api/startup): write docstrings
  api/src/startup.rs
Labels: api, src

docs(api/routes/user/delete): write docstrings
  api/src/routes/user/user/delete.rs
Labels: api, src

docs(api/database/user): add docstrings to insert_user_into_db and helpers
  api/src/database/user/user.rs
Labels: api, src

docs(api/routes/flavor-group/create): write docstrings
  api/src/routes/resources/flavor_group/create.rs
Labels: api, src

feat(api/routes/accounting/server_state): make submodules public
  api/src/routes/accounting/server_state/mod.rs
Labels: api, src

docs(ui/cargo): update info comments on dependency versions
  ui/Cargo.toml
Labels: ui, dep

docs(api/routes/user/me): improve docstrings
  api/src/routes/user/me.rs
Labels: api, src

feat(api/routes/flavor_group/create): use NormalApiError
  api/src/routes/resources/flavor_group/create.rs
Labels: api, src

docs(lib/lib): correct usage example listing and mark as ignore
  lib/src/lib.rs
Labels: lib, src

docs(api/routes/resources/flavor_group): write docstrings
  api/src/routes/resources/flavor_group/mod.rs
Labels: api, src

docs(api/routes/project/create): write docstrings
  api/src/routes/user/project/create.rs
Labels: api, src

docs(api/routes/project/delete): write docstrings
  api/src/routes/user/project/delete.rs
Labels: api, src

docs(api/routes/resources/usage): write docstrings
  api/src/routes/resources/usage.rs
Labels: api, src

feat(api): move all update_.+_in_db functions to database module
  api/src/database/accounting/server_state.rs
  api/src/database/budgeting/project_budget.rs
  api/src/database/budgeting/user_budget.rs
  api/src/database/mod.rs
  api/src/database/pricing/flavor_price.rs
  api/src/database/quota/flavor_quota.rs
  api/src/database/resources/flavor.rs
  api/src/database/resources/flavor_group.rs
  api/src/routes/accounting/server_state/modify.rs
  api/src/routes/budgeting/project_budget/modify.rs
  api/src/routes/budgeting/user_budget/modify.rs
  api/src/routes/pricing/flavor_price/modify.rs
  api/src/routes/quota/flavor_quota/modify.rs
  api/src/routes/resources/flavor/modify.rs
  api/src/routes/resources/flavor_group/modify.rs
Labels: api, src

docs(api/error): make note on not-found-error a warning
  api/src/error.rs
Labels: api, src

docs(test/user-budget/modify): improve information on fallible test
  test/tests/budgeting/user_budget/modify.rs
Labels: test

docs(api/routes/project/modify): write docstrings
  api/src/routes/user/project/modify.rs
Labels: api, src

docs(api/routes/resources): write docstrings
  api/src/routes/resources/mod.rs
Labels: api, src

docs(api/routes/project/create): fix type in docstring
  api/src/routes/user/project/create.rs
Labels: api, src

docs(api/routes): remove todo comments on IdParam structs
  api/src/routes/accounting/server_state/mod.rs
  api/src/routes/budgeting/project_budget/mod.rs
  api/src/routes/budgeting/user_budget/mod.rs
  api/src/routes/pricing/flavor_price/mod.rs
  api/src/routes/quota/flavor_quota/mod.rs
  api/src/routes/resources/flavor/mod.rs
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/user/project/mod.rs
  api/src/routes/user/user/mod.rs
Labels: api, src

docs(api/routes/resources): fix scope docstring
  api/src/routes/resources/mod.rs
Labels: api, src

docs(lib/common): write docstrings
  lib/src/common.rs
Labels: lib, src

feat(api/project): move insert_project_into_db and helpers to database module
  api/src/database/user/project.rs
  api/src/routes/user/import.rs
  api/src/routes/user/project/create.rs
  api/src/startup.rs
Labels: api, src

docs(lib/lib): write docstrings
  lib/src/lib.rs
Labels: lib, src

docs(lib/lib): improve docstrings
  lib/src/lib.rs
Labels: lib, src

docs(lib/lib): add detailed todo comment on url::Url
  lib/src/lib.rs
Labels: lib, src

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
