Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

chore(spellcheck): update dictionary
  .spellcheck.dic
Labels: none

feat(api/user): add bare user-import endpoint
  api/src/routes/user/import.rs
  api/src/routes/user/mod.rs
Labels: api, src

feat(api/user): return default value from user-import endpoint
  api/src/routes/user/import.rs
Labels: api, src

docs(api/configuration): add todo comment about openstack urls
  api/configuration/base.yaml
Labels: api

feat(api/openstack): add OpenStack.get_domains function
  api/src/openstack.rs
Labels: api, src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(test/lib): setup_test_user_budget_with_new_user_budget
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_server_state_with_server_state
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_project_with_project
  test/src/lib.rs
Labels: src

fix(wire/budgeting/user_budget): use default skip_serializing_if
  wire/src/budgeting/user_budget.rs
Labels: wire, src

fix(api/budgeting/user_budget): modify endpoint permissions
  api/src/routes/budgeting/user_budget/modify.rs
Labels: api, src

test(budgeting/user_budget): test user budget modify endpoints
  test/tests/budgeting/user_budget/mod.rs
  test/tests/budgeting/user_budget/modify.rs
Labels: test

feat(lib,wire): add FlavorUsageParams
  lib/src/resources/flavor.rs
  wire/src/resources/flavor.rs
Labels: wire, lib, src

feat(api/resources): add bare flavor_usage endpoint
  api/src/routes/resources/flavor/mod.rs
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

feat(wire,lib): add FlavorGroupUsageParams
  lib/src/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: wire, lib, src

feat(api/resources): add bare flavor_group_usage endpoint
  api/src/routes/resources/flavor_group/mod.rs
  api/src/routes/resources/flavor_group/usage.rs
Labels: api, src

fix(api/resources): fix tracing for flavor_group_usage function
  api/src/routes/resources/flavor_group/usage.rs
Labels: api, src

fix: use enum for user_class
  Cargo.lock
  api/src/authentication.rs
  api/src/database/accounting/server_state.rs
  api/src/database/pricing/flavor_price.rs
  api/src/database/user/project.rs
  api/src/database/user/user.rs
  api/src/routes/accounting/server_cost/get.rs
  api/src/routes/pricing/flavor_price/modify.rs
  api/src/routes/user/import.rs
  api/src/routes/user/project/create.rs
  api/src/routes/user/project/list.rs
  api/src/routes/user/project/modify.rs
  api/src/startup.rs
  cli/src/pricing.rs
  cli/src/user/project.rs
  lib/src/pricing.rs
  lib/src/user/project.rs
  test/src/lib.rs
  test/tests/user/project/create.rs
  test/tests/user/project/delete.rs
  test/tests/user/project/list.rs
  test/tests/user/project/modify.rs
  wire/Cargo.toml
  wire/src/pricing.rs
  wire/src/user/project.rs
  wire/src/user/user.rs
Labels: wire, api, lib, cli, dep, src, test

feat(test/lib): setup_test_flavor_price_with_new_flavor_price
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_flavor_price_with_new_flavor_price
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_user_budget_with_new_user_budget
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_server_state_with_server_state
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_project_with_project
  test/src/lib.rs
Labels: src

fix(wire/budgeting/user_budget): use default skip_serializing_if
  wire/src/budgeting/user_budget.rs
Labels: wire, src

fix(api/budgeting/user_budget): modify endpoint permissions
  api/src/routes/budgeting/user_budget/modify.rs
Labels: api, src

test(budgeting/user_budget): test user budget modify endpoints
  test/src/lib.rs
  test/tests/budgeting/user_budget/mod.rs
  test/tests/budgeting/user_budget/modify.rs
  test/tests/pricing/flavor_price/delete.rs
Labels: src, test

feat(api/database/pricing): extend flavor_price_list
  api/src/database/pricing/flavor_price.rs
  api/src/routes/pricing/flavor_price/list.rs
  cli/src/pricing.rs
  lib/src/pricing.rs
  wire/src/pricing.rs
Labels: wire, api, lib, cli, src

test(pricing/flavor_price): test flavor_price_list
  test/src/lib.rs
  test/tests/pricing/flavor_price/list.rs
  test/tests/pricing/flavor_price/mod.rs
Labels: src, test

fix(cli): set global=true for top level cli arguments
  cli/src/main.rs
Labels: cli, src

docs(routes): remove project/user budget modify from endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

feat(test/lib): setup_test_user_budget_with_new_user_budget
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_server_state_with_server_state
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_flavor_price_with_new_flavor_price
  test/src/lib.rs
Labels: src

feat(test/lib): setup_test_project_with_project
  test/src/lib.rs
Labels: src

test(budgeting/user_budget): test user budget modify endpoints
  test/src/lib.rs
  test/tests/budgeting/user_budget/mod.rs
  test/tests/budgeting/user_budget/modify.rs
  test/tests/pricing/flavor_price/delete.rs
Labels: src, test

fix(api/budgeting/user_budget): modify endpoint permissions
  api/src/routes/budgeting/user_budget/modify.rs
Labels: api, src

docs(routes): remove project/user budget modify from endpoint todo list
  api/src/routes/mod.rs
Labels: api, src

fix(wire/budgeting/user_budget): use default skip_serializing_if
  wire/src/budgeting/user_budget.rs
Labels: wire, src

fix(api/routes/resources): remove debug print
  api/src/routes/resources/flavor/usage.rs
Labels: api, src

refactor(wire,lib): rename FlavorUsage to FlavorUsageSimple
  lib/src/resources/flavor.rs
  wire/src/resources/flavor.rs
Labels: wire, lib, src

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
