Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: api, lib, cli, dep, src, test, db, sh, ci

fix: use Uuid for instance_id
  Cargo.lock
  api/Cargo.toml
  api/src/database/accounting/server_state.rs
  api/src/openstack.rs
  api/src/routes/accounting/server_consumption/get.rs
  api/src/routes/accounting/server_cost/get.rs
  api/src/routes/accounting/server_state/create.rs
  api/src/routes/accounting/server_state/import.rs
  api/src/routes/accounting/server_state/list.rs
  api/src/routes/accounting/server_state/modify.rs
  cli/Cargo.toml
  cli/src/accounting/server_consumption.rs
  cli/src/accounting/server_cost.rs
  cli/src/accounting/server_state.rs
  lib/Cargo.toml
  lib/src/accounting/server_consumption.rs
  lib/src/accounting/server_cost.rs
  lib/src/accounting/server_state.rs
  test/src/lib.rs
  test/tests/accounting/server_state/create.rs
  test/tests/accounting/server_state/list.rs
  test/tests/accounting/server_state/modify.rs
  test/tests/budgeting/user_budget/modify.rs
  wire/Cargo.toml
  wire/src/accounting/server_consumption.rs
  wire/src/accounting/server_cost.rs
  wire/src/accounting/server_state.rs
  wire/src/budgeting/budget_over_tree.rs
Labels: api, lib, cli, dep, src, test

fix: use Uuid for instance_id
  Cargo.lock
  api/Cargo.toml
  api/src/database/accounting/server_state.rs
  api/src/openstack.rs
  api/src/routes/accounting/server_consumption/get.rs
  api/src/routes/accounting/server_cost/get.rs
  api/src/routes/accounting/server_state/create.rs
  api/src/routes/accounting/server_state/import.rs
  api/src/routes/accounting/server_state/list.rs
  api/src/routes/accounting/server_state/modify.rs
  cli/Cargo.toml
  cli/src/accounting/server_consumption.rs
  cli/src/accounting/server_cost.rs
  cli/src/accounting/server_state.rs
  lib/Cargo.toml
  lib/src/accounting/server_consumption.rs
  lib/src/accounting/server_cost.rs
  lib/src/accounting/server_state.rs
  test/src/lib.rs
  test/tests/accounting/server_state/create.rs
  test/tests/accounting/server_state/list.rs
  test/tests/accounting/server_state/modify.rs
  test/tests/budgeting/user_budget/modify.rs
  wire/Cargo.toml
  wire/src/accounting/server_consumption.rs
  wire/src/accounting/server_cost.rs
  wire/src/accounting/server_state.rs
  wire/src/budgeting/budget_over_tree.rs
Labels: api, lib, cli, dep, src, test

test(pricing/flavor_price): test flavor_price_list
  test/tests/pricing/flavor_price/list.rs
  test/tests/pricing/flavor_price/mod.rs
Labels: test

chore(sqlx): update offline query data
  .sqlx/query-c990d584c45226181ef6a78a1e6320aa6d13b31c78e0f5a0586439a71147259f.json
Labels: none

refactor(wire,lib): rename FlavorGroupUsage to FlavorGroupUsageSimple
  lib/src/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: src

feat(api): add function structure for flavor-group usage endpoint
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

fix(wire/resources): correct id, project types in FromRow for FlavorGroup
  wire/src/resources/flavor_group.rs
Labels: src

fix(api,wire): use left join for FlavorGroup selection and adjust FromRow
  api/src/database/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: src

fix(api/db/resources): correct tracing name of select_maybe_flavor_detail_from_db
  api/src/database/resources/flavor.rs
Labels: src

fix(api/db/resources): correct FlavorDb.group_id type
  api/src/database/resources/flavor.rs
Labels: src

build(scripts/run_api): pass through RUST_LOG with info as default
  scripts/run_api.sh
Labels: sh

build(scripts/init_db): use production mariadb server version
  scripts/init_db.sh
Labels: sh

chore(sqlx): update offline query data
  .sqlx/query-a2f92f96ed24938097ed0cd29123fefce6defe767d4ce02218066b0e7c1b24cd.json
  .sqlx/query-a38fd720713af4e8184e4974c729ae69f60fcb472ea3125b86a2ca4490ea73a1.json
  .sqlx/query-e36e7fc4158b97cd63734738f5eb918130cdcb4aa5246c17d509bdcf2a13d311.json
  .sqlx/query-fcb474241ba1e5d7fa95006c01761f5912ecc966ebc182d3325dcf54012e5f3b.json
Labels: none

fix(wire/resources): add sqlx try_from to FlavorMinimal.id
  wire/src/resources/flavor.rs
Labels: src

ci(test,lint): use production mariadb server version
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: ci

ci(test,lint): use production mariadb server version
  .github/workflows/lint.yml
  .github/workflows/test.yml
Labels: ci

chore(sqlx): update offline query data
  .sqlx/query-a2f92f96ed24938097ed0cd29123fefce6defe767d4ce02218066b0e7c1b24cd.json
  .sqlx/query-a38fd720713af4e8184e4974c729ae69f60fcb472ea3125b86a2ca4490ea73a1.json
  .sqlx/query-e36e7fc4158b97cd63734738f5eb918130cdcb4aa5246c17d509bdcf2a13d311.json
  .sqlx/query-fcb474241ba1e5d7fa95006c01761f5912ecc966ebc182d3325dcf54012e5f3b.json
Labels: none

build(scripts/run_api): pass through RUST_LOG with info as default
  scripts/run_api.sh
Labels: sh

fix(api,wire): use left join for FlavorGroup selection and adjust FromRow
  api/src/database/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: src

fix(api/db/resources): correct FlavorDb.group_id type
  api/src/database/resources/flavor.rs
Labels: src

build(scripts/init_db): use production mariadb server version
  scripts/init_db.sh
Labels: sh

fix(wire/resources): correct id, project types in FromRow for FlavorGroup
  wire/src/resources/flavor_group.rs
Labels: src

fix(api/db/resources): correct tracing name of select_maybe_flavor_detail_from_db
  api/src/database/resources/flavor.rs
Labels: src

fix(wire/resources): add sqlx try_from to FlavorMinimal.id
  wire/src/resources/flavor.rs
Labels: src

feat(api): implement calculate_flavor_group_usage_for_user_simple
  api/src/routes/resources/flavor/mod.rs
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

feat(api): add function structure for flavor-group usage endpoint
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

refactor(wire,lib): rename FlavorGroupUsage to FlavorGroupUsageSimple
  lib/src/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: src

feat(api/resources): calculate_flavor_group_usage_for_project_simple
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

feat(api/resources): calculate_flavor_group_usage_for_all_simple
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

refactor(api/resources): simplify calculate_flavor_group_usage_*_simple functions
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

feat(api/resources): implement calculate_flavor_group_usage_*_aggregate functions
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

feat(api): add function structure for flavor-group usage endpoint
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

refactor(api/resources): simplify calculate_flavor_group_usage_*_simple functions
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

feat(api): implement calculate_flavor_group_usage_for_user_simple
  api/src/routes/resources/flavor/mod.rs
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

feat(api/resources): implement calculate_flavor_group_usage_*_aggregate functions
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

feat(api/resources): calculate_flavor_group_usage_for_project_simple
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

refactor(wire,lib): rename FlavorGroupUsage to FlavorGroupUsageSimple
  lib/src/resources/flavor_group.rs
  wire/src/resources/flavor_group.rs
Labels: src

feat(api/resources): calculate_flavor_group_usage_for_all_simple
  api/src/routes/resources/flavor_group/usage.rs
Labels: src

docs(api/routes): update endpoint todo list
  api/src/routes/mod.rs
Labels: src

fix: use Uuid for instance_id
  Cargo.lock
  api/Cargo.toml
  api/src/database/accounting/server_state.rs
  api/src/openstack.rs
  api/src/routes/accounting/server_consumption/get.rs
  api/src/routes/accounting/server_cost/get.rs
  api/src/routes/accounting/server_state/create.rs
  api/src/routes/accounting/server_state/import.rs
  api/src/routes/accounting/server_state/list.rs
  api/src/routes/accounting/server_state/modify.rs
  cli/Cargo.toml
  cli/src/accounting/server_consumption.rs
  cli/src/accounting/server_cost.rs
  cli/src/accounting/server_state.rs
  lib/Cargo.toml
  lib/src/accounting/server_consumption.rs
  lib/src/accounting/server_cost.rs
  lib/src/accounting/server_state.rs
  test/src/lib.rs
  test/tests/accounting/server_state/create.rs
  test/tests/accounting/server_state/list.rs
  test/tests/accounting/server_state/modify.rs
  test/tests/budgeting/user_budget/modify.rs
  wire/Cargo.toml
  wire/src/accounting/server_consumption.rs
  wire/src/accounting/server_cost.rs
  wire/src/accounting/server_state.rs
  wire/src/budgeting/budget_over_tree.rs
Labels: api, lib, cli, dep, src, test

.github/labeler.yml:

api:
- changed-files:
  - any-glob-to-any-file: "api/*"

lib:
- changed-files:
  - any-glob-to-any-file: "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file: "cli/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"
