Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: lib, cli, tests, dependency, ci

.github/labeler.yml:

lib:
- changed-files:
  - any-glob-to-any-file: src/lib/*

cli:
- changed-files: 
  - any-glob-to-any-file: src/cli/*

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*

build(husky/pre-push): drop cargo husky
  .cargo-husky/hooks/pre-push
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  wire/Cargo.toml
Labels: dependency

build(husky/pre-push): drop cargo husky
  .cargo-husky/hooks/pre-push
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  wire/Cargo.toml
Labels: dependency

build(wrapper): add requirements.txt
  wrapper/requirements.txt
Labels: none

build(wrapper): add requirements.txt
  wrapper/requirements.txt
Labels: none

build(ui): Fix typo and add pointer to wrapper
  ui/README.md
Labels: none

build(ui): Fix typo and add pointer to wrapper
  ui/README.md
Labels: none

fix(test): Fix error when CI runs tests
  .github/workflows/test.yml
Labels: ci

fix(test): Fix error when CI runs tests
  .github/workflows/test.yml
Labels: ci

feat(api/routes/hello): make hello_user/admin pub
  api/src/routes/hello.rs
Labels: none

feat(api/routes/user): make UserIdParam pub
  api/src/routes/user/user/mod.rs
Labels: none

docs(api/routes/user/sync): write docstrings
  api/src/routes/user/sync.rs
Labels: none

feat(api/routes/user): make imports pub
  api/src/routes/user/user/mod.rs
Labels: none

docs(api/routes/user/modify): write docstrings
  api/src/routes/user/user/modify.rs
Labels: none

docs(api/database/budgeting): write docstrings
  api/src/database/budgeting/mod.rs
  api/src/database/budgeting/project_budget.rs
  api/src/database/budgeting/user_budget.rs
Labels: none

feat(api/routes/user): make endpoint imports pub
  api/src/routes/user/mod.rs
Labels: none

docs(api/utils): add docstrings for module and types
  api/src/utils.rs
Labels: none

docs(api/database/quota): add docstrings
  api/src/database/quota/flavor_quota.rs
  api/src/database/quota/mod.rs
Labels: none

docs(api/lib): add module level docstring
  api/src/lib.rs
Labels: none

docs(api/error): add status code info to error variants
  api/src/error.rs
Labels: none

docs(api/routes/user/get): write docstrings
  api/src/routes/user/user/get.rs
Labels: none

feat(api/routes/project): make imports pub
  api/src/routes/user/project/mod.rs
Labels: none

feat(api/user): move insert_user_into_db to database module
  api/src/database/user/user.rs
  api/src/routes/user/import.rs
  api/src/routes/user/user/create.rs
  api/src/startup.rs
Labels: none

docs(api/routes/user/list): write docstrings
  api/src/routes/user/user/list.rs
Labels: none

docs(api/telemetry): write docstrings
  api/src/telemetry.rs
Labels: none

docs(api/ldap): write docstrings
  api/src/ldap.rs
Labels: none

docs(api/routes/user): write docstrings
  api/src/routes/user/mod.rs
Labels: none

feat(api/database/user/project): write docstrings
  api/src/database/user/mod.rs
  api/src/database/user/project.rs
Labels: none

docs(api/configuration): fix and improve information on ApplicationSettings.avina_ldap_default
  api/src/configuration.rs
Labels: none

docs(api/routes/user): write docstrings
  api/src/routes/user/user/mod.rs
Labels: none

docs(api/routes/user/delete): improve docstring
  api/src/routes/user/user/delete.rs
Labels: none

docs(api/authorization): add docstrings to module and functions
  api/src/authorization.rs
Labels: none

docs(api/routes/project): write docstrings
  api/src/routes/user/project/mod.rs
Labels: none

docs(api/error): add docstrings
  api/src/error.rs
Labels: none

docs(api/routes): write module level docstring
  api/src/routes/mod.rs
Labels: none

docs(api/main): add docstrings
  api/src/main.rs
Labels: none

docs(api/authentication): add docstrings
  api/src/authentication.rs
Labels: none

docs(api/routes/user/get): write docstrings
  api/src/routes/user/user/get.rs
Labels: none

feat(api/database): add module docstring
  api/src/database/mod.rs
Labels: none

feat(api/database/user/user): write docstrings
  api/src/database/user/user.rs
Labels: none

feat(api/routes/user/list): return not found when project filter is not allowed
  api/src/routes/user/user/list.rs
  test/tests/user/user/list.rs
Labels: none
