Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: lib, cli, tests, dependency, ci

.github/labeler.yml:

lib:
- changed-files:
  - any-glob-to-any-file: src/lib/*

cli:
- changed-files: 
  - any-glob-to-any-file: src/cli/*

tests:
- changed-files:
  - any-glob-to-any-file: tests/*

dependency:
- changed-files:
  - any-glob-to-any-file: Cargo.*

ci:
- changed-files:
  - any-glob-to-any-file: .github/**/*

docs(api/common): add todo comment regarding option ref
  wire/src/common.rs
Labels: none

chore(spellcheck): update dictionary
  .spellcheck.dic
Labels: none

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(cargo): bump time from 0.3.44 to 0.3.47
  Cargo.lock
Labels: dependency

chore(cargo): bump avina-api crate to v1.1.2
  Cargo.lock
  api/Cargo.toml
Labels: dependency

chore(cargo): bump bytes from 1.11.0 to 1.11.1
  Cargo.lock
Labels: dependency

fix(api/routes): don't overwrite user with queried_user in user_budget_list
  api/src/routes/budgeting/user_budget/list.rs
Labels: none

chore(spellcheck): update dictionary
  .spellcheck.dic
Labels: none

chore(cargo): bump avina-api crate to v1.1.2
  Cargo.lock
  api/Cargo.toml
Labels: dependency

docs(api/common): add todo comment regarding option ref
  wire/src/common.rs
Labels: none

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

fix(api/routes): use cost of queried project in user_budget_modify
  api/src/routes/budgeting/user_budget/modify.rs
Labels: none

chore(cargo): bump time from 0.3.44 to 0.3.47
  Cargo.lock
Labels: dependency

chore(cargo): bump bytes from 1.11.0 to 1.11.1
  Cargo.lock
Labels: dependency

fix(api/routes): don't shadow user with queried_user in project_budget_list
  api/src/routes/budgeting/project_budget/list.rs
Labels: none

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

chore(changelog): update for new release
  CHANGELOG.md
Labels: none

fix(api/routes): don't shadow user with queried_user in project_budget_list
  api/src/routes/budgeting/project_budget/list.rs
Labels: none

chore(cargo): run cargo update
  Cargo.lock
Labels: dependency

chore(cargo): run cargo update
  Cargo.lock
Labels: dependency

ci(zizmor): disable superfluous-actions rule
  .github/zizmor.yml
Labels: ci

ci(zizmor): disable superfluous-actions rule
  .github/zizmor.yml
Labels: ci

docs(wrapper): correct typo in README.md
  wrapper/README.md
Labels: none

docs(wrapper): correct typo in README.md
  wrapper/README.md
Labels: none

ci(test): add job that installs dx and builds avina-ui
  .github/workflows/test.yml
Labels: ci

ci(test): add job that installs dx and builds avina-ui
  .github/workflows/test.yml
Labels: ci

feat(wrapper): change header line
  wrapper/templates/index.html
Labels: none

chore(ui/cargo): update dioxus version to 0.7.4
  ui/Cargo.toml
Labels: none

build(ui/cargo): add strum dependency
  Cargo.lock
  ui/Cargo.toml
Labels: dependency

feat(ui): add sample multi-page functionality
  ui/src/main.rs
Labels: none

build(ui/cargo): add strum dependency
  Cargo.lock
  ui/Cargo.toml
Labels: dependency

feat(ui): add sample multi-page functionality
  ui/src/main.rs
Labels: none

chore(ui/cargo): update dioxus version to 0.7.4
  ui/Cargo.toml
Labels: none

feat(wrapper): change header line
  wrapper/templates/index.html
Labels: none

build(ui/cargo): add dioxus-primitives dependency
  Cargo.lock
  ui/Cargo.toml
Labels: dependency

feat(ui): initialize dx components and add button component
  ui/assets/dx-components-theme.css
  ui/src/components/button/component.rs
  ui/src/components/button/mod.rs
  ui/src/components/button/style.css
  ui/src/components/mod.rs
Labels: none

feat(ui): load theme and use button component for page bar
  ui/src/main.rs
Labels: none

chore(spell): update spellcheck dictionary
  .spellcheck.dic
Labels: none

fix(ui): correct inputs to rsx_with_page_bar macro
  ui/src/main.rs
Labels: none

chore(spell): update spellcheck dictionary
  .spellcheck.dic
Labels: none
