Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

docs(api/utils): add docstrings for module and types
  api/src/utils.rs
Labels: api, src

docs(api/authorization): add docstrings to module and functions
  api/src/authorization.rs
Labels: api, src

docs(api/authentication): add docstrings
  api/src/authentication.rs
Labels: api, src

docs(api/error): add docstrings
  api/src/error.rs
Labels: api, src

docs(api/configuration): write docstrings
  api/src/configuration.rs
Labels: api, src

docs(api/configuration): fix and improve information on ApplicationSettings.avina_ldap_default
  api/src/configuration.rs
Labels: api, src

docs(api/ldap): write docstrings
  api/src/ldap.rs
Labels: api, src

docs(api/lib): add module level docstring
  api/src/lib.rs
Labels: api, src

docs(api/main): add docstrings
  api/src/main.rs
Labels: api, src

docs(api/telemetry): write docstrings
  api/src/telemetry.rs
Labels: api, src

docs(api/startup): write docstrings
  api/src/startup.rs
Labels: api, src

feat(api/openstack): write docstrings
  api/src/openstack.rs
Labels: api, src

feat(api/database): add module docstring
  api/src/database/mod.rs
Labels: api, src

feat(api/database/user/project): write docstrings
  api/src/database/user/mod.rs
  api/src/database/user/project.rs
Labels: api, src

feat(api/database/user/user): write docstrings
  api/src/database/user/user.rs
Labels: api, src

docs(api/database/quota): add docstrings
  api/src/database/quota/flavor_quota.rs
  api/src/database/quota/mod.rs
Labels: api, src

docs(api/database/pricing): add docstrings
  api/src/database/pricing/flavor_price.rs
  api/src/database/pricing/mod.rs
Labels: api, src

docs(api/database/accounting): write docstrings
  api/src/database/accounting/mod.rs
  api/src/database/accounting/server_state.rs
Labels: api, src

docs(api/database/budgeting): write docstrings
  api/src/database/budgeting/mod.rs
  api/src/database/budgeting/project_budget.rs
  api/src/database/budgeting/user_budget.rs
Labels: api, src

docs(api/database/resources): write docstrings
  api/src/database/resources/flavor.rs
  api/src/database/resources/flavor_group.rs
  api/src/database/resources/mod.rs
Labels: api, src

build(husky/pre-push): drop cargo husky
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  cli/Cargo.toml
  lib/Cargo.toml
  test/Cargo.toml
  wire/Cargo.toml
Labels: wire, api, lib, cli, dep

fix(scripts): remove unused env var OS_PROJECT_ID
  scripts/run_api.sh
  scripts/run_api_container.sh
Labels: sh

docs(api/routes): write module level docstring
  api/src/routes/mod.rs
Labels: api, src

feat(api/routes/hello): make hello_user/admin pub
  api/src/routes/hello.rs
Labels: api, src

docs(api/routes/hello): write docstrings
  api/src/routes/hello.rs
Labels: api, src

docs(api/routes/health_check): write docstrings
  api/src/routes/health_check.rs
Labels: api, src

feat(api/routes/user): make endpoint imports pub
  api/src/routes/user/mod.rs
Labels: api, src

docs(api/routes/user): write docstrings
  api/src/routes/user/mod.rs
Labels: api, src

docs(api/routes/user/me): write docstrings
  api/src/routes/user/me.rs
Labels: api, src

docs(api/routes/user/import): write docstrings
  api/src/routes/user/import.rs
Labels: api, src

fix(scripts): remove unused env var OS_PROJECT_ID
  scripts/run_api.sh
  scripts/run_api_container.sh
Labels: sh

docs(api/routes/user/sync): write docstrings
  api/src/routes/user/sync.rs
Labels: api, src

feat(api/routes/project): make imports pub
  api/src/routes/user/project/mod.rs
Labels: api, src

feat(api/routes/user): make UserIdParam pub
  api/src/routes/user/user/mod.rs
Labels: api, src

feat(api/routes/user): make imports pub
  api/src/routes/user/user/mod.rs
Labels: api, src

docs(api/routes/user): write docstrings
  api/src/routes/user/user/mod.rs
Labels: api, src

docs(api/routes/project): write docstrings
  api/src/routes/user/project/mod.rs
Labels: api, src

docs(api/routes/user/get): write docstrings
  api/src/routes/user/user/get.rs
Labels: api, src

docs(api/routes/user/list): write docstrings
  api/src/routes/user/user/list.rs
Labels: api, src

docs(api): reformat docstring lists to use dashes
  api/src/routes/hello.rs
  api/src/routes/user/mod.rs
  api/src/routes/user/project/mod.rs
  api/src/routes/user/user/list.rs
  api/src/routes/user/user/mod.rs
  api/src/telemetry.rs
Labels: api, src
