Repository LRZ-BADW/avina, changes with the labels that .github/labeler.yml gives for each.
All labels: wire, api, lib, cli, ui, dep, src, test, db, sh, ci

.github/labeler.yml:

wire:
- changed-files:
  - any-glob-to-any-file:
    - "wire/**/*"
    - "wire/*"

api:
- changed-files:
  - any-glob-to-any-file:
    - "api/**/*"
    - "api/*"

lib:
- changed-files:
  - any-glob-to-any-file:
    - "lib/**/*"
    - "lib/*"

cli:
- changed-files:
  - any-glob-to-any-file:
    - "cli/**/*"
    - "cli/*"

ui:
- changed-files:
  - any-glob-to-any-file:
    - "ui/**/*"
    - "ui/*"

dep:
- changed-files:
  - any-glob-to-any-file:
    - "Cargo.*"
    - "**/Cargo.*"

src:
- changed-files:
  - any-glob-to-any-file: "**/src/**/*"

test:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**/*"
    - "**/tests/**/*"

db:
- changed-files:
  - any-glob-to-any-file: "api/migrations/*"

sh:
- changed-files:
  - any-glob-to-any-file: "scripts/*"

ci:
- changed-files:
  - any-glob-to-any-file: ".github/**/*"

style(ui): re-apply cargo fmt
  ui/src/components/charts.rs
  ui/src/pages/budget.rs
  ui/src/pages/usage.rs
Labels: ui, src

style(api/accounting): fix clippy issue in server_cost::get
  api/src/routes/accounting/server_cost/get.rs
Labels: api, src

feat(ui/charts,ui/budget): improve BarChart arguments
  ui/src/components/charts.rs
  ui/src/pages/budget.rs
Labels: ui, src

feat(ui/budget): add server cost details table
  ui/src/pages/budget.rs
Labels: ui, src

feat(ui/budget): add unit for server cost details
  ui/src/pages/budget.rs
Labels: ui, src

feat(ui/profile): add Role enum and From and Display impls
  ui/src/pages/profile.rs
Labels: ui, src

feat(ui/budget): add sub page bar and empty project and all sub pages
  ui/src/pages/budget.rs
Labels: ui, src

feat(ui/budget): move sub pages into own sub modules
  ui/src/pages/budget/all.rs
  ui/src/pages/budget/mod.rs
  ui/src/pages/budget/project.rs
  ui/src/pages/budget/user.rs
Labels: ui, src

feat(ui/budget/project): add rough page structure
  ui/src/pages/budget/project.rs
Labels: ui, src

feat(ui/components): add dialog compoment
  ui/src/components/dialog/component.rs
  ui/src/components/dialog/mod.rs
  ui/src/components/dialog/style.css
  ui/src/components/mod.rs
Labels: ui, src

feat(ui/budget/project): add dialog for all users
  ui/src/pages/budget/project.rs
Labels: ui, src

feat(ui/budget/project): add static BudgetForm
  ui/src/pages/budget/project.rs
Labels: ui, src

feat(ui/budget/project): let BudgetForm update value and show errors
  ui/src/pages/budget/project.rs
Labels: ui, src

fix(api/routes/budget): return updated budget from modify functions
  api/src/routes/budgeting/project_budget/modify.rs
  api/src/routes/budgeting/user_budget/modify.rs
Labels: api, src

chore(ui/cargo,ci): bump dioxus from 0.7.4 to =0.7.5
  .github/workflows/test.yml
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep, ci

feat(ui/budget/project): implement budget modification
  ui/src/pages/budget/project.rs
Labels: ui, src

feat(ui/budget): remove all subpage for now
  ui/src/pages/budget/all.rs
  ui/src/pages/budget/mod.rs
Labels: ui, src

chore(cargo): bump rand from 0.8.5/0.9.2 to 0.8.6/0.9.4
  Cargo.lock
Labels: dep

chore(cargo): bump rustls-webpki from 0.103.10 to 0.103.13
  Cargo.lock
Labels: dep

build(deny): remove OpenSSL from license allow list
  .deny.toml
Labels: none

feat(ui/theme,ui/main): include bootstrap and charts css
  ui/assets/bootstrap.min.css
  ui/assets/charts.min.css
  ui/assets/dx-components-theme.css
  ui/src/main.rs
Labels: ui, src

build(ui/theme): remove custom font import
  ui/assets/dx-components-theme.css
Labels: ui

feat(ui/budget/project): add rough page structure
  ui/src/pages/budget/project.rs
Labels: ui, src

feat(ui/budget): add unit for server cost details
  ui/src/pages/budget.rs
Labels: ui, src

feat(ui/profile): add Role enum and From and Display impls
  ui/src/pages/profile.rs
Labels: ui, src

feat(ui/budget): remove all subpage for now
  ui/src/pages/budget/all.rs
  ui/src/pages/budget/mod.rs
Labels: ui, src

fix(api/routes/budget): return updated budget from modify functions
  api/src/routes/budgeting/project_budget/modify.rs
  api/src/routes/budgeting/user_budget/modify.rs
Labels: api, src

feat(ui/budget/project): let BudgetForm update value and show errors
  ui/src/pages/budget/project.rs
Labels: ui, src

feat(ui/charts,ui/budget): improve BarChart arguments
  ui/src/components/charts.rs
  ui/src/pages/budget.rs
Labels: ui, src

feat(ui/budget/project): implement budget modification
  ui/src/pages/budget/project.rs
Labels: ui, src

build(deny): remove OpenSSL from license allow list
  .deny.toml
Labels: none

chore(cargo): bump rustls-webpki from 0.103.10 to 0.103.13
  Cargo.lock
Labels: dep

feat(ui/budget): add module with initial BudgetPage
  ui/src/main.rs
  ui/src/pages/budget.rs
  ui/src/pages/mod.rs
Labels: ui, src

chore(cargo): bump rand from 0.8.5/0.9.2 to 0.8.6/0.9.4
  Cargo.lock
Labels: dep

feat(ui/budget/project): add static BudgetForm
  ui/src/pages/budget/project.rs
Labels: ui, src

style(ui): re-apply cargo fmt
  ui/src/components/charts.rs
  ui/src/pages/budget.rs
  ui/src/pages/usage.rs
Labels: ui, src

chore(ui/cargo,ci): bump dioxus from 0.7.4 to =0.7.5
  .github/workflows/test.yml
  Cargo.lock
  ui/Cargo.toml
Labels: ui, dep, ci

style(api/accounting): fix clippy issue in server_cost::get
  api/src/routes/accounting/server_cost/get.rs
Labels: api, src

feat(ui/usage): use UsagePieChart for UsagePage
  ui/src/pages/usage.rs
Labels: ui, src

feat(ui/budget): move sub pages into own sub modules
  ui/src/pages/budget/all.rs
  ui/src/pages/budget/mod.rs
  ui/src/pages/budget/project.rs
  ui/src/pages/budget/user.rs
Labels: ui, src
