Repository LRZ-BADW/avina, pull requests merged in 2025-04, with the labels that each got.

#261 Flavor Import
  .spellcheck.dic
  .sqlx/query-01a3429e170172a401e79a9fdc5b9544f912ed346040ec9bf9da4d5011cd8d0d.json
  api/src/database/resources/flavor.rs
  api/src/openstack.rs
  api/src/routes/resources/flavor/import.rs
  api/src/routes/resources/flavor/mod.rs
Labels: api, src

#283 Budget Bulk Create Endpoint
  Cargo.lock
  api/src/error.rs
  api/src/routes/budgeting/bulk_create.rs
  api/src/routes/budgeting/mod.rs
  cli/src/hello.rs
  cli/src/main.rs
Labels: api, dep, src, cli

#287 Project Budget Over Permissions
  api/src/routes/budgeting/project_budget/mod.rs
  api/src/routes/budgeting/project_budget/over.rs
  lib/src/budgeting/project_budget.rs
  test/tests/budgeting/project_budget/mod.rs
  test/tests/budgeting/project_budget/over.rs
Labels: enhancement, rust, api, src, test, lib, feat
